<div class="ns-gridPanelItem">
    <div class="ns-gridPanelItemBody">
        <a href="services.html?detail/<%= data.id %>" class="imgLink">
            <img src="<%= data && data.imageUri %>" alt="服务图标">
        </a>
    </div>
    <div class="ns-gridPanelItemBottom">
        <a href="services.html?detail/<%= data.id %>" class="h1"><%= data && data.name %></a>
        <p class="info text-orange">
            <%- data.chargeTypeDesc %>
        </p>
        <div class="info">
            <div class="cell"> 应用数 <span><%= data && data.applyCount %></span></div>
            <!-- <div class="cell"> 提供方 <span><%= data && data.providerName %></span></div> -->
            <div class="cell"> 提供方式 <span><%= data && data.serviceType %></span></div>
        </div>
    </div>
</div>