<div class="media">
    <div class="media-left">
        <img src="<%- data.imageUri %>" class="media-object">
    </div>
    <div class="media-body">
        <a href="apiDetail2.html" class="h1"><%- data.name %></a>
        <p class="offset"><%- data.updatedTimeFormat %></p>
        <p class="sub">提供方：<span><%- data.providerName %></span> 提供方式：<span><%- data.serviceType %></span></p>
        <p class="info"><%- data.description %></p>
        <div class="media-body-footer">
            <div class="footerItem"> 费用：<span class="keywordType2"><%- data.chargeTypeDesc %></span></div>
            <div class="footerItem"> 申请量：<span class="keywordType2"><%- data.applyCount %></span></div>
        </div>
    </div>
</div>
