<div id="orderTabs" class="topTab clearfix myApiTop">
    <span class="active">购物车</span>
    <span>订单管理</span>
    <span>销售记录</span>
</div>
<div id="orderInfo"  class="tabDownCons">

</div>
<script id="resourcesDemandList" type="template">
    <div class="M-mainInfo clearfix bgWhite" style="padding-top: 20px;">
        <div class="tab-title" ><button><a target="_blank" class="corff" href="./demand.html#createDemand">发布数据需求</a></button></div>
        <div class="M-downCons">
            <div class="D_table M-table">
                <table>
                    <thead>
                    <tr>
                        <th width="8%">需求名称</th>
                        <th width="28%">需求描述</th>
                        <th width="8%">发布日期</th>
                        <th width="8%">状态</th>
                        <th width="8%">反馈日期</th>
                        <th width="16%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(demandList, function (item) { %>
                    <tr>
                        <td><a  href="../customized/dataInf.html">失业人员信息</a></td>
                        <td>数据包括身份证号码、姓名、性别、出生日期、户口性质、联系电话等信息</td>
                        <td>2016.6.10</td>
                        <td>预审驳回</td>
                        <td>2016.6.10</td>
                        <td><a class="edit">修改</a>
                            <a class="delete">删除</a>
                            <a class="closed">关闭</a>
                            <a class="remove">下架</a>
                        </td>
                    </tr>
                    <% }); %>
                    <%if(demandList.length == 0){%>
                    <tr>
                        <td colspan="6">暂无数据</td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
            <div class="page-area"></div>
        </div>
    </div>
</script>
<script id="apiDemandList" type="template">
    <div class="M-mainInfo clearfix bgWhite" style="padding-top: 20px;">
        <div class="tab-title"><button><a class="corff" href="../customized/citySdkIw.html">发布API需求</a></button></div>
        <div class="M-downCons">
            <div class="D_table M-table">
                <table>
                    <thead>
                    <tr>
                        <th width="20%">需求方系统</th>
                        <th width="48%">需求方系统描述</th>
                        <th width="10%">状态</th>
                        <th width="20%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(apiDemandList, function (aitem) { %>
                    <tr>
                        <td>数据包括身份证号码、姓名、性别、出生日期、户口性质、联系电话等信息</td>
                        <td>2016.6.10</td>
                        <td>预审驳回</td>
                        <td><a class="edit">修改</a>
                            <a class="delete">删除</a>
                            <a class="closed">关闭</a>
                            <a class="remove">下架</a>
                        </td>
                    </tr>
                    <% }); %>
                    <%if(apiDemandList.length == 0){%>
                    <tr>
                        <td colspan="4">暂无数据</td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
<script id="serversDemandList" type="template">
    <div class="M-mainInfo clearfix bgWhite" style="padding-top: 20px;">
        <div class="tab-title"><button><a class="corff" href="../customized/citySdkIw.html">发布服务需求</a></button></div>
        <div class="M-downCons">
            <div class="D_table M-table">
                <table>
                    <thead>
                    <tr>
                        <th width="20%">服务任务名称</th>
                        <th width="30%">服务任务描述</th>
                        <th width="18%">截止日期</th>
                        <th width="10%">状态</th>
                        <th width="20%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(serverDemandList, function (sitem) { %>
                    <tr>
                        <td><%=sitem.name%></td>
                        <td><%=sitem.description%></td>
                        <td><%=sitem.endTime%></td>
                        <td><%=sitem.statusName%></td>
                        <td attrId="<%=sitem.id%> ">
                            <a class="editS" href="javascript:;">修改</a>
                            <a class="deleteS" href="javascript:;">删除</a>
                            <a class="closeS" href="javascript:;">关闭</a>
                            <a class="downS" href="javascript:;">下架</a>
                        </td>
                    </tr>
                    <% }); %>
                    <%if(serverDemandList.length == 0){%>
                    <tr>
                        <td colspan="5">暂无数据</td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
