<div class="tabCons">
    <div class="M-mainInfo clearfix bgWhite pt25">
        <div class="M-downCons">
            <div class="D_table M-table">
                <table>
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>资源名称</th>
                        <th>资源类型</th>
                        <th>申请时间</th>
                        <th>申请单价</th>
                        <th>申请次数</th>
                        <th>总金额</th>
                        <th>订单状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="9">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="orderPages" class="page-area fr"></div>
        </div>
    </div>
</div>


<script id="orderList" type="template">
    <% var i = 0; _.each(orderList, function (olaitem) { i=0;%>
        <% _.each(olaitem.sourceDetail, function (soitem) { i = i+1;%>
        <tr>
            <%if(i == 1 && olaitem.sourceDetail.length >= 1){%>
            <td rowspan="<%=olaitem.sourceDetail.length%>"><%=olaitem.orderNum%></td>
            <%}%>
            <%if(soitem.resourceType == '02'){%>
            <td><a  href="./sources.html#detail/<%=soitem.resourceId%>"><%= soitem.resourceName%></a></td>
            <td>数据</td>
            <%}else {%>
            <td><a  href="./api.html##detail/<%=soitem.resourceId%>"><%= soitem.resourceName%></a></td>
            <td>API</td>
            <%}%>
            <td><%= olaitem.orderTime ? new Date(olaitem.orderTime).format('yyyy-MM-dd hh:mm:ss') : '-'%></td>
            <td><%= soitem.itemCash%></td>
            <%if(soitem.resourceType == '02'){%>
            <td>-</td>
            <%}else {%>
            <td><%= parseInt(soitem.defaulTime || 0)*parseInt(soitem.itemNumber || 0) %></td>
            <%}%>
            <td><%= soitem.itemCashTotal%></td>
            <td><%= olaitem.orderStatus%></td>
            <td>
                <%if(olaitem.orderStatus == '未支付'){%>
                <a href="javascript:;" attrOrderId="<%=olaitem.orderNum%>" class="toPay">支付</a>
                <%}%>
            </td>
        </tr>
        <% }); %>
    <% }); %>
    <%if(orderList.length == 0){%>
    <tr>
        <td colspan="9">暂无数据</td>
    </tr>
    <%}%>
</script>
