<div class="tabCons">
    <div class="M-mainInfo clearfix bgWhite pt25">
        <div class="M-downCons">
            <div class="D_table M-table">
                <table>
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>资源名称</th>
                        <th>资源类型</th>
                        <th>申请时间</th>
                        <th>申请单价</th>
                        <th>申请次数</th>
                        <th>总金额</th>
                        <th>订单状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="9">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="orderPages" class="page-area fr"></div>
        </div>
    </div>
</div>


<script id="orderList" type="template">
    <% _.each(orderList, function (olaitem) { %>
    <tr attrId="<%=olaitem.id%>">
        <td rowspan="<%=olaitem.count%>"><a  href="../sources.html#detail/<%=olaitem.id%>"><%=olaitem.orderNum%></a></td>
        <td><%= olaitem.pulibsher%></td>
        <td><%= olaitem.preOffer%></td>
        <td><%= olaitem.pageviewAmount%></td>
        <td><%= olaitem.focusTime ? new Date(olaitem.focusTime).format('yyyy-MM-dd') : '-'%></td>
        <td>
            <a href="javascript:;" class="cancelApiFocus">取消关注</a>
        </td>
    </tr>
    <% }); %>
    <%if(orderList.length == 0){%>
    <tr>
        <td colspan="9">暂无数据</td>
    </tr>
    <%}%>
</script>
