<div class="header grid1190">
    <h1 class="logo fl">
        <a href="index.html">
            <img src="../../images/newicon/ic_newlogo.png" alt="logo">
        </a>
    </h1>
    <div class="switch-city">
    <span>【<%= data && data.currentCity && data.currentCity.name || '广州' %>】</span>
        <div class="city-station" id="cityStation">
            <ul>
            <% if(data.currentCity.code == '440100') { %>
                <% data && data.cityStations.forEach(function(item) { %>
                <li class="<%= data.currentCity && data.currentCity.code == item.code ? 'selected' : '' %>">
                    <a data-code="<%= item.code %>" data-url="<%= item.url %>" href="javascript:;"><%= item.name %></a>
                </li>
                <% }) %>
            <% }else { %>
                <li>
                    <a data-code="440100" data-url="http://www.gzopendata.com" href="javascript:;">广州</a>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
    <div class="navCons fl mt20 index">
        <ul class="nav fl">
            <!--广州城投mock-->
            <% if(data.currentCity.code == '104') { %>
                <% _.each(data.menuList, function (item,index) { %>
                    <% if(index<1){%>
                    <li <%= (data.id == item.key ? 'class=active' : '' ) %>><a href="<%= item.url %>"><%= item.name %></a></li>
                    <%}%>
                <%})%>
                <li style="font-weight: bold"><%= data.currentCity.name%></li>
               <!-- base64转换有图片大小限制-->
                <li style="position: relative;top: -10px;"><img src="../../images/newicon/gzct.png" alt="" width="172px" height="54px"></li>
            <%}%>
            <% if(data.currentCity.code == '440100' || data.currentCity.code == '440113') { %>
                <%  _.each(data.menuList, function (item) { %>
            <li <%= (data.id == item.key ? 'class=active' : '' ) %>><a href="<%= item.url %>"><%= item.name %></a></li>
                <%})%>
            <%}%>
        </ul>
    </div>
    <div class="haslogin fr clearfix">
        <div class="searchCons fl">
            <input type="text" class="search" id="inputs" placeholder="请输入查找内容">
            <a class="search-img"></a>
        </div>
        <div class="fr user-area" style="width: 150px;">
        </div>
    </div>
</div>