<div id="userTabs" class="topTab clearfix InfoTopTit">
    <span <%= (name == 'point' ? 'class=active' : '' ) %> ><a href="#point">积分明细</a></span>
    <span <%= (name == 'pointIncome' ? 'class=active' : '' ) %> ><a href="#pointIncome">积分收入</a></span>
    <span <%= (name == 'pointOutlay' ? 'class=active' : '' ) %>><a href="#pointOutlay">积分支出</a></span>
    <span <%= (name == 'pointRule' ? 'class=active' : '' ) %>><a href="#pointRule">积分规则</a></span>
    <span <%= (name == 'pointQA' ? 'class=active' : '' ) %>><a href="#pointQA">积分常见问题</a></span>
</div>
<div id="userInfoArea" class="tabDownCons">
</div>