<div class="ns-contentComponent">
    <div class="ns-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="services.html">交易广场</a></li>
                        <li><a href="services.html">微应用</a></li>
                        <li class="active"><%= data.name %></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="ns-sideBarComponent pull-right fade" id="selectedService">

        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="ns-apiDetailComponent">
                        <div class="ns-apiDetailTop bgWhite">
                            <div class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img src="<%= data.imageUri %>" alt="服务icon" class="">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><%= data.name %>
                                        <div class="tags">
                                            <% data.tagNames.split(',').forEach(function(item){ %>
                                            <span class="tagItem"><%= item %></span>
                                            <% }) %>
                                        </div>
                                    </h4>
                                    <div class="subInfo">
                                        <%= data.description %>
                                    </div>
                                    <div class="baseInfo">
                                        <div class="top">
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="info">
                                                        <div class="cell">
                                                            数创价：<span class="text-large text-orange">
                                                            <%= data.chargeTypeDesc %></span>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <!-- <div class="cell">服务状态：
                                                            <span>
                                                            <%= data.statusDesc %>
                                                            </span>
                                                        </div> -->
                                                        <div class="cell">服务方式：
                                                            <span>
                                                            <%= data.serviceType %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="cell">服务商：
                                                            <span>
                                                            <%= data.providerName %>
                                                            </span>
                                                        </div>
                                                        <div class="cell">更新时间：
                                                            <span>
                                                            <%= (new Date(data.updatedTime).toISOString()).slice(0,10) %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="cell">访问地址：
                                                            <span><%= data.uri %></span>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="media-right">
                                                    <div class="rightInfo">
                                                        <p>浏览量：<span>
                                                            <%= data.viewCount %>
                                                        </span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="share">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <%if(data.status == '0'){%>
                                    <div class="submitBtns">
                                        <button class="btn" id="applyBtn">申请</button>
                                        <button class="btn" id="example">查看演示</button>
                                        <button id="attention" class="btn"><%- data.attentionFlag ? '取消关注' : '关注'%></button>
                                        <button id="offlineBtn" class="btn btn-active">线下洽谈申请</button>
                                    </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                        <% if(data.demoImage1 || data.demoImage2 || data.demoImage3){ %>
                        <div class="ns-apiDetailBottom">
                            <div class="tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="javascript:;">详细信息</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active bgWhite">
                                        <div class="container-fluid picScroll-left">
                                            <a class="next" style="display: none;"></a>
                                            <a class="prev" style="display: none;"></a>
                                            <div class="bd">
                                                <ul class="picList">
                                                    <% if( data.demoImage1){ %>
                                                    <li>
                                                        <div class="pic"><img src="<%- data.demoImage1 %>" alt="服务图片1"/></div>
                                                    </li>
                                                    <% }; %>
                                                    <% if( data.demoImage2){ %>
                                                    <li>
                                                        <div class="pic"><img src="<%- data.demoImage2 %>" alt="服务图片2"/></div>
                                                    </li>
                                                    <% }; %>
                                                    <% if( data.demoImage3){ %>
                                                    <li>
                                                        <div class="pic"><img src="<%- data.demoImage3 %>" alt="服务图片3"/></div>
                                                    </li>
                                                    <% }; %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>