<div class="ReleaseMainCons grid960 clearfix bgWhite boxShadiow">
    <!-- top -->
    <p class="ReleaseTit">
        <% if(data.showFlag) { %>
        查看服务
        <% }else if(data.detail && data.detail.id){ %>
        编辑服务
        <% }else{ %>
        发布新服务
        <% } %>
    </p>
    <!-- 2016-09-08 新增 tab切换 -->
    <!-- down -->
    <div class="ReleaseDownCons pr">
        <!-- SaaS 服务发布内容 -->
        <form class="ReleaseInputs ReleaseDown" onsubmit="return false;" id="publishForm">
            <div class="clearfix ReleaseList">
                <% if(data.detail && data.detail.id){ %>
                    <input type="hidden" name="id" value="<%= data.detail.id %>" />
                <% } %>
                <p class="fl R_left"><em>*</em>服务对象：</p>
                <div class="fl R_right">
                    <p class="fl mt10">
                        <% data && data.objects.forEach(function(item){ %>
                        <label class="fl"><input name="serviceObject" value="<%= item.dictCode %>" <%= data.detail && data.detail.serviceObject.indexOf(item.dictCode) > -1 && "checked" %> type="checkbox"><%= item.dictName %></label>
                        <% }) %>
                    </p>
                </div>
                <label id="serviceObject-error" style="display:none" class="error" for="serviceObject"></label>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em>服务名称：</p>
                <div class="fl R_right">
                    <p>
                        <input type="text" name="name" placeholder="请输入服务名称" value="<%= data.detail && data.detail.name %>">
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em>服务标识：</p>
                <div class="fl R_right">
                    <p>
                        <input type="text" id="identify" name="identify" placeholder="服务标识" value="<%= data.detail && data.detail.identify %>" <%if(data.detail && data.detail.isOnline == 'Y'){%>disabled<%}%>>
                    </p>
                </div>
                <p class="input-mes fl">服务标识应当以字母或数字开头结尾，允许出现横线及下划线，长度在2-30个字符之间</p>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em>服务简介：</p>
                <div class="fl R_right">
                    <p>
                        <textarea name="description" id="" cols="30" rows="10" placeholder="请输入数据描述"><%= data.detail && data.detail.description %></textarea maxlength="500">
                    </p>
                </div>
                <label id="description-error" class="error ml125" ></label>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em>服务图标：</p>
                <div class="fl R_right">
                    <p class="allInfoImg">
                        <% if(data.detail && data.detail.imageUri){ %>
                            <img class="fl" id="serviceIcon" src="<%= data.detail.imageUri %>" alt="">
                        <% }else { %>
                            <img class="fl" id="serviceIcon" src="../../images/add.png" alt="">
                        <% } %>
                        <input type="hidden" value="<%= data.detail && data.detail.imageKey %>" name="imageKey" id="serviceKey">
                    </p>
                </div>
                <label id="serviceKey-error" class="error hide" for="serviceKey"></label>
                <!-- <label id="imageKey-error" style="display:none;" class="error" for="imageKey"></label> -->
                <!-- <label class="img-error">请上传服务图标</label> -->
            </div>
            <!-- 2016-09-12 用 ul li 做的下拉选择框 -->
            <div class="clearfix ReleaseList ">
                <p class="fl R_left"><em>*</em>分类：</p>
                <div class="fl R_right">
                    <!-- 2016-09-12 用 ul li 做的下拉选择框 -->
                    <div class="classifyList Travel01">
                        <select id="selectCategory" name="categoryId">
                            <% data && data.category.forEach(function(item){ %>
                            <option value="<%= item.categoryId %>" <%= data.detail && data.detail.categoryId == item.categoryId && "selected" %>><%= item.categoryName %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 增加 选择框及选择按钮  2016-09-05-->
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em>标签：</p>
                <div class="fl R_right posRE">
                    <p>
                        <input type="text" placeholder="请选择标签" value="<%= data.detail && data.detail.tagNames %>" readonly="" class="wd300" id="tagName">
                        <input type="hidden" name="tags" value="<%= data.detail && data.detail.tags %>" id="tagId"/>
                        <button class="btn btn-primary" id="selectTagBtn">选择</button>
                    </p>
                </div>
                <label id="tagId-error" style="display:none;" class="error" for="tagId"></label>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em>服务范围：</p>
                <div class="fl R_right">
                    <p>
                        <input type="text" placeholder="输入服务的城市，以逗号分隔" name="scope" value="<%= data.detail && data.detail.scope %>">
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em>演示地址：</p>
                <div class="fl R_right">
                    <p>
                        <input type="text" name="demoUri" placeholder="输入演示地址" value="<%= data.detail && data.detail.demoUri %>">
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em>访问URL：</p>
                <div class="fl R_right">
                    <p>
                        <input type="text" name="uri" placeholder="输入访问URL" value="<%= data.detail && data.detail.uri %>">
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left">示例图片：</p>
                <div class="fl R_right">
                    <p class="allInfoImg fl mr10">
                        <% if(data.detail && data.detail.demoImage1){ %>
                            <img id="demo1Icon" src="<%= data.detail.demoImage1 %>" alt="">
                        <% }else { %>
                            <img id="demo1Icon" src="../../images/add.png" alt="">
                        <% } %>
                        <input type="text" value="<%= data.detail && data.detail.demoKey1 %>" class="hide" name="demoKey1" id="demo1Key">
                    </p>
                    <p class="allInfoImg fl mr10">
                        <% if(data.detail && data.detail.demoImage2){ %>
                            <img id="demo2Icon" src="<%= data.detail.demoImage2 %>" alt="">
                        <% }else { %>
                            <img id="demo2Icon" src="../../images/add.png" alt="">
                        <% } %>
                        <input type="text" value="<%= data.detail && data.detail.demoKey2 %>" class="hide" name="demoKey2" id="demo2Key">
                    </p>
                    <p class="allInfoImg fl">
                        <% if(data.detail && data.detail.demoImage3){ %>
                            <img id="demo3Icon" src="<%= data.detail.demoImage3 %>" alt="">
                        <% }else { %>
                            <img id="demo3Icon" src="../../images/add.png" alt="">
                        <% } %>
                        <input type="text" value="<%= data.detail && data.detail.demoKey3 %>" class="hide" name="demoKey3" id="demo3Key">
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><i class="need">*</i>是否收费：</p>
                <div class="fl R_right charge-type-radio">
                    <label><input type="radio" name="chargeType" value="01" id="ct01" <%if(!data.detail || data.detail.chargeType=='01'){%>checked<%}%>>免费</label>
                    <label><input type="radio" name="chargeType" value="02" id="ct02" <%if(data.detail && data.detail.chargeType=='02'){%>checked<%}%>>收费</label>
                </div>
            </div>
            <div class="D_table server-package" <%if(!data.detail || data.detail.chargeType=='01'){%>style="display: none;"<%}%>>
                <table >
                    <thead>
                    <tr>
                        <th>套餐名称</th>
                        <th>套餐价格</th>
                        <th>购买限制</th>
                        <th>使用限制</th>
                        <th>生效日期</th>
                        <th>失效日期</th>
                        <% if(data.showFlag || data.detail && data.detail.id) { %>
                        <% }else{ %>
                        <th>操作</th>
                        <% } %>

                    </tr>
                    </thead>
                    <tbody id="packageTable">
                    <tr>
                        <td colspan="7">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <% if(data.showFlag || data.detail && data.detail.id) { %>
            <div class="clearfix ReleaseList mt20 server-package">
            </div>
            <% }else{ %>
            <div class="clearfix ReleaseList mt20 server-package" <%if(!data.detail || data.detail.chargeType=='01'){%>style="display: none;"<%}%>>
                <label class="package-error">套餐不能为空</label>
                <span class="newSelBtn addPrice fr bgBlue" style="padding: 3px 10px;">新增收费规则</span>
            </div>
            <% } %>
            <div class="D_table server-url" <%if(!data.detail || data.detail.chargeType=='01'){%>style="display: none;"<%}%>>
                <table >
                    <thead>
                    <tr>
                        <th>服务URL</th>
                        <th>服务描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="serverTable">
                        <%var urlArray = data.detail ? data.detail.url : []; _.each(urlArray, function (sulist) { %>
                        <tr>
                            <td><%=sulist.url%></td>
                            <td><%=sulist.description%></td>
                            <td>
                                <a href="javascript:;" class="editServerUrl">修改</a>
                                <a href="javascript:;" class="deleteServerUrl">删除</a>
                            </td>
                        </tr>
                        <% }); %>
                        <%if(urlArray.length == 0){%>
                        <tr>
                            <td colspan="3">暂无数据</td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>

            <div class="clearfix ReleaseList mt20 server-url" <% if(!data.detail || data.detail.chargeType=='01') { %>style="display: none;"<%}%>>
                <label class="url-error">服务URL不能为空</label>
                <span class="newSelBtn add-server-url fr bgBlue" style="padding: 3px 10px;">新增服务URL</span>
            </div>
            <div class="clearfix ReleaseList">
                <div class="fl R_right">
                    <label class="ml50">
                        <input type="checkbox" id="agreementCheckbox">
                        阅读并接受<a href="agreement.html" target="_blank">《广州数聚平台服务协议》</a>
                    </label>
                </div>
            </div>

            <div class="R_Btns">
                <!-- <button class="bgBlue">返回</button> -->
                <% if(!data.showFlag){ %>
                    <input type="submit" class="bgBlue" value="提交">
                <% } %>
            </div>
        </form>
        <% if(!data.showFlag){ %>
        <form id="uploadServiceIcon" class="icon-form" action="" method="post">
            <input type="file" id="service" name="pic" class="upload-file">
        </form>
        <form id="uploadDemoIcon1" class="icon-form" action="" method="post">
            <input type="file" id="demo1" name="pic" class="upload-file">
        </form>
        <form id="uploadDemoIcon2" class="icon-form" action="" method="post">
            <input type="file" id="demo2" name="pic" class="upload-file">
        </form>
        <form id="uploadDemoIcon3" class="icon-form" action="" method="post">
            <input type="file" id="demo3" name="pic" class="upload-file">
        </form>
        <% } %>
        <div class="server-package-area"></div>
        <div class="server-url-area"></div>
    </div>
</div>
