<div class="ns-contentComponent">
    <div class="ns-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="startup.html">孵化器</a></li>
                        <li><a href="#roadshow">项目孵化</a></li>
                        <li class="active"><%= data.roadName %></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="ns-list">
                        <div class="ns-list-item">
                            <div class="media">
                                <div class="media-left">
                                    <img src="<%= data.thumbnailImg %>" class="media-object" alt="缩略图">
                                </div>
                                <div class="media-body">
                                    <span class="h1">
                                        <span class="pull-left">
                                            <%= data.roadName %>
                                        </span>
                                        <div class="tags">
                                            <% data.tags && data.tags.split('，').forEach(function(item){ %>
                                            <span><%= item %></span>
                                            <% }) %>
                                        </div>
                                    </span>
                                    <p class="info">
                                        <%= data.roadDescription %>
                                    </p>
                                    <div class="media-body-footer">
                                        <!-- <div class="footerItem">融资类型：<span class="keywordType2"><%= data.financingType %></span></div>
                                        <div class="footerItem">融资额度：<span class="keywordType2"><%= data.financingLimit %>万元</span></div>
                                        <div class="footerItem">项目阶段：<span class="keywordType2"><%= data.projectStage %></span></div> -->
                                        <button type="button" id="followBtn" class="btn btn-sm btn-warning" style="position: absolute;top: 10px;right: 170px;    border: 0;">关注</button>
                                        <button type="button" id="contactBtn" class="btn btn-sm btn-warning" style="position: absolute;top: 10px;right: 80px;    border: 0;">联系我们</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 26px;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="javascript:;" data-index="0">路演材料</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" style="padding:20px;border:1px solid #e8e8e8;border-top:none;overflow: hidden;position: relative;">
                                <div class="swiper-left swiper-container col-md-9">
                                    <div class="swiper-wrapper">
                                        <% data.projectDescription.split(',').forEach(function(item){ %>
                                            <div class="swiper-slide">
                                                <img src="<%= item %>" alt="路演材料" />
                                            </div>
                                        <% }) %>
                                    </div>
                                    
                                </div>
                                <div class="roadshow-slide swiper-button-next"></div>
                                <div class="roadshow-slide swiper-button-prev"></div>
                                <div class="swiper-container swiper-right">
                                    <div class="swiper-wrapper" style="height: 500px;">
                                        <% data.projectDescription.split(',').forEach(function(item, index){ %>
                                            <div class="swiper-slide">
                                                <img src="<%= item %>" data-index="<%= index %>" alt="路演材料">
                                            </div>
                                        <% }) %>
                                        <% if(data.projectDescription.split(',').length < 3){ %>
                                            <% for(var i = 0; i <= 3 - data.projectDescription.split(',').length; i++) { %>
                                            <div class="swiper-slide"></div>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 fade" id="latestRoadshow">
                    
                </div>
            </div>
            
        </div>
        
    </div>
</div>