.tab-title{
    margin-bottom: 15px;
}
.tab-title button {
    border: none;
    background: #069cd9;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}
.tab-title button a {font-size: 16px;}
.D_table table tbody tr td a {
    color: #ff9900;
}
.call-back-error{display: none; color: red;}
.delete-call-back-url{display: block;}
#callBack {width: 95%;}
.mes {font-size: 12px;color: #666;margin-top: -60px;float: right;margin-right: 5%;}