<div class="tit">
    <h2 class="ft16 cor5"><%= data && data.title %>筛选</h2>
</div>
<div class="ChoiceList boxSizing">
    <!-- 范围 -->
    <div class="clearfix">
        <!-- 对象 -->
        <div class="C_selectorLine clearfix fl">
            <div class="sl-wrap clearfix">
                <div class="sl-key fl">
                    <span>对象</span>
                </div>
                <div class="sl-value fl">
                    <div class="sl-v-list">
                        <ul class="J_valueList pr10 clearfix">
                            <% data && data.objects && data.objects.result.forEach(function(item) { %>
                                <li>
                                    <input type="checkbox" data-type="objects" value="<%= item.dictCode %>" id="object<%= item.dictCode %>">
                                    <label for="object<%= item.dictCode %>"><%= item.dictName %></label>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="C_selectorLine clearfix fr">
            <div class="sl-wrap clearfix borc1">
                <div class="sl-key fl">
                    <span>范围</span>
                </div>
                <div class="sl-value fl">
                    <div class="sl-v-list">
                        <div class="smallSelCons clearfix">
                            <div class="smallSel fl posRE">
                                <select class="smallSelList" id="provinceSel">
                                </select>
                                <span>省</span>
                                <em class="downSmalllBtn"></em>
                            </div>
                            <div class="smallSel fl posRE">
                                <select class="smallSelList" id="citySel">
                                    <option value="0">不限</option>
                                </select>
                                <span>市</span>
                                <em class="downSmalllBtn"></em>
                            </div>
                            <div class="smallSel fl posRE">
                                <select class="smallSelList" id="areaSel">
                                    <option value="0">不限</option>
                                </select>
                                <span>区县</span>
                                <em class="downSmalllBtn right47"></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <% if(data.orgs && data.orgs.result) { %>
    <!-- 机构 -->
    <div class="C_selectorLine clearfix">
        <div class="sl-wrap clearfix">
            <div class="sl-key fl">
                <span>机构</span>
            </div>
            <div class="sl-value fl widthfull">
                <div class="sl-v-list">
                    <ul class="J_valueList J_List">
                        <li class="<%= data.defaults && data.defaults.orgId ? '' : 'active' %>">
                            <a href="javascript:;" data-type="orgId">不限</a>
                        </li>
                        <% data.orgs.result.forEach(function(item) { %>
                            <li class="<%= data.defaults && (data.defaults.orgId == item.id) ? 'active' : '' %>">
                                <a href="javascript:;" data-type="orgId" data-orgId="<%= item.id %>" rel="nofollow"><%= item.shortName %></a>
                            </li>
                        <% }) %>  
                    </ul>
                </div>
            </div>
            <% if(data.orgs.result.length > 7) { %>
            <div class="sl-ext">
                <a class="sl-e-more J_extMore down" href="javascript:;">更多&gt;&gt;</a>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>
    
    <% if(data.category && data.category.result) { %>
    <!-- 分类 -->
    <div class="C_selectorLine clearfix">
        <div class="sl-wrap clearfix">
            <div class="sl-key fl">
                <span>分类</span>
            </div>
            <div class="sl-value fl widthfull">
                <div class="sl-v-list">
                    <ul class="J_valueList J_List">
                        <li class="<%= data.defaults && data.defaults.categoryId ? '' : 'active' %>">
                            <a href="javascript:;" data-type="categoryId">不限</a>
                        </li>
                        <% data.category.result.forEach(function(item) { %>
                            <li class="<%= data.defaults && (data.defaults.categoryId == item.categoryId) ? 'active' : '' %>">
                                <a rel="nofollow" href="javascript:;" data-type="categoryId" data-categoryid="<%= item.categoryId %>"><%= item.categoryName %></a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <% if(data.category.result.length > 6) { %>
            <div class="sl-ext">
                <a class="sl-e-more J_extMore down" href="javascript:;">更多&gt;&gt;</a>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>

    <% if(data.tags && data.tags.result) { %>
    <!-- 标签 -->
    <!-- 2016-09-07 增加类名 agency 机构选项不可点击状态 更多 增加类名 agencyDown -->
    <div class="C_selectorLine clearfix">
        <div class="tag-wrap sl-wrap clearfix">
            <div class="sl-key fl">
                <span>标签</span>
            </div>
            <div class="sl-value widthfull fl">
                <div class="sl-v-list">
                    <ul class="J_valueList J_List tag-ul">
                        <li class="active">
                            <a href="javascript:;"  data-type="tagId">不限</a>
                        </li>
                        <% data.tags.result.forEach(function(item) { %>
                            <li>
                                <a href="javascript:;" data-type="tagId" data-tagid="<%= item.tagId %>" rel="nofollow"><%= item.tagName %></a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <!-- 2016-09-07 机构更多事件阻止  增加类名 agencyDown-->
            <!-- 超过7条数据才需要显示更多 -->
            <% if(data.tags.result.length > 7) { %>
                <div class="sl-ext">
                    <a class="sl-e-more J_extMore down agencyDown" href="javascript:;">更多&gt;&gt;</a>
                </div>
            <% } %>
        </div>
    </div>
    <% } %>

    <% if(data.chargeWay && data.chargeWay.result && data.chargeWay.result.length > 0) { %>
    <!-- 收费类型 -->
    <div class="C_selectorLine clearfix">
        <div class="sl-wrap clearfix">
            <div class="sl-key fl">
                <span>收费类型</span>
            </div>
            <div class="sl-value fl">
                <div class="sl-v-list">
                    <ul class="J_valueList clearfix wd804">
                        <% data.chargeWay.result.forEach(function(item) { %>
                            <li class="active">
                                <input type="checkbox" data-type="chargeType" value="<%= item.dictCode %>" id="chargeWay<%= item.dictCode %>">
                                <label for="chargeWay<%= item.dictCode %>"><%= item.dictName %></label>
                            </li>
                        <% }) %>  
                    </ul>
                </div>
            </div>
            <!-- 搜索 -->
            <div class="sl-search">
                <input type="text" class="search-input" maxlength="30">
                <span class="search-btn"></span>
            </div>
        </div>
    </div>
    <% } %>
</div>