/*筛选条件*/
.choiceList{width: 100%;height: auto;border: 1px solid #ccc;margin: 16px 0 24px;}
.sl-wrap{line-height: 40px;border-bottom: 1px dashed #ccc;background: #ebedf0;position: relative;padding-left: 78px;}
.C_selectorLine:last-child .sl-wrap{border: 0;}
.sl-wrap .sl-key{text-align: center;width: 78px;color: #777;height: auto;position: absolute;left: 0;top: 0;}
.sl-v-list .J_valueList{padding: 0 92px 0 12px;box-sizing: border-box;background: #fff;}
.sl-v-list .J_valueList li{float: left;margin-right: 24px;width: 76px;text-align: center;}
.sl-v-list .J_valueList li.active a{color:#069cd9; }
.sl-v-list .J_valueList li label{display: inline-block;}
.J_List{height: 40px;overflow: hidden;}
/*.sl-v-list .J_valueList li:nth-child(7n){margin-right:0; }*/
.sl-ext{width: 96px;text-align: center;position: absolute;right: 0;top: 0;}
.sl-search{width: 334px;position: absolute;right: 0;top: 0;border: 1px solid #069cd9;height: 24px;border: 1px solid #ccc;overflow: hidden;margin-top: 7px;margin-right: 12px;background: #fff;}
.sl-search input[type="text"]{outline: none;margin: 0;height:24px;border:none;box-shadow: none;display: inline-block;padding: 0 12px;vertical-align: 8px;width: 276px;}
.sl-search span{width: 24px;display: inline-block;height: 24px;background: url(../../images/img07.png) no-repeat center center;cursor: pointer;vertical-align: 1px;}
