<!-- 对象 -->
<% if(data.objects && data.objects.result) { %>
<div class="ns-sideBarItem">
    <dl>
        <dt>对象</dt>
        <% data.objects.result.forEach(function(item) { %>
            <dd>
                <label class="checkbox-inline">
                    <input type="checkbox" data-type="objects" id="object<%= item.dictCode %>" value="<%= item.dictCode %>"><%= item.dictName %>
                </label>
            </dd>
        <% }) %>
    </dl>
</div>
<% } %>
<!-- 范围 -->
<% if(_.indexOf(data.options, 'scopes') > -1) { %>
<div class="ns-sideBarItem">
    <dl class="nofloat">
        <dt>范围</dt>
        <dd>
            <div class="ns-selectComponent">
                <div class="selectLabel">省：</div>
                <div class="selectWrap">
                    <select data-default="<%= data.defaults && data.defaults.defaultCity ? data.defaults.defaultCity.province.code : '' %>" class="smallSelList" id="provinceSel"></select>
                    <em></em>
                </div>

            </div>
        </dd>
        <dd>
            <div class="ns-selectComponent">
                <div class="selectLabel">市：</div>
                <div class="selectWrap">
                    <select data-default="<%= data.defaults && data.defaults.defaultCity ? data.defaults.defaultCity.city.code : '' %>" class="smallSelList" id="citySel">
                        <option value="0">不限</option>
                    </select>
                    <em></em>
                </div>

            </div>
        </dd>
        <dd>
            <div class="ns-selectComponent">
                <div class="selectLabel">区县：</div>
                <div class="selectWrap">
                    <select class="smallSelList" id="areaSel">
                        <option value="0">不限</option>
                    </select>
                    <em></em>
                </div>

            </div>
        </dd>
    </dl>
</div>
<% } %>
<!-- API分类 -->
<% if(_.indexOf(data.options, 'type') > -1) { %>
<div class="ns-sideBarItem">
    <dl>
        <dt>API分类</dt>
        <dd>
            <label class="radio-inline">
                <input type="radio" checked="checked" name="type" value="data">数据
            </label>
        </dd>
        <dd>
            <label class="radio-inline">
                <input type="radio" name="type" value="tool">工具
            </label>
        </dd>
        <dd>
            <label class="radio-inline">
                <input type="radio" name="type" value="model">模型
            </label>
        </dd>
    </dl>
</div>
<% } %>
<!-- 分类 -->
<% if(data.category && data.category.result) { %>
<div class="ns-sideBarItem">
    <dl class="category-dl">
        <dt>分类</dt>
        <dd class="<%= data.defaults && data.defaults.categoryId ? '' : 'active' %>">
            <a href="javascript:;" data-type="categoryId">不限</a>
        </dd>
        <% data.category.result.forEach(function(item, index) { %>
            <% if(index == 10){ %>
            <dd><a href="javascript:;" class="toggle-more area-expand">更多&gt;&gt;</a></dd>
            <% }%>
            <dd class="<%= data.defaults && (data.defaults.categoryId == item.categoryId) ? 'active' : '' %>">
                <a rel="nofollow" href="javascript:;" data-type="categoryId" data-categoryid="<%= item.categoryId %>"><%= item.categoryName %></a>
            </dd>
        <% }) %>
    </dl>
</div>
<% } %>

<!-- 标签 -->
<% if(data.tags && data.tags.result) { %>
<div class="ns-sideBarItem">
    <dl class="tags-dl">
        <dt>标签</dt>
        <dd class="active">
            <a href="javascript:;" data-type="tagId">不限</a>
        </dd>
        <% data.tags.result.forEach(function(item, index) { %>
            <% if(index == 10){ %>
            <dd><a href="javascript:;" class="toggle-more area-expand">更多&gt;&gt;</a></dd>
            <% }%>
            <dd><a href="javascript:;" data-type="tagId" data-tagid="<%= item.tagId %>" rel="nofollow"><%= item.tagName %></a></dd>
        <% }) %>
        
    </dl>
</div>
<% } %>

<!-- 收费类型 -->
<% if(data.chargeWay && data.chargeWay.result && data.chargeWay.result.length > 0) { %>
<div class="ns-sideBarItem">
    <dl>
        <dt>收费类型</dt>
        <% data.chargeWay.result.forEach(function(item) { %>
            <dd>
                <label class="checkbox-inline">
                    <input type="checkbox" <%= data.defaults && data.defaults.chargeType == item.dictCode && 'checked' %> data-type="chargeType" value="<%= item.dictCode %>" id="chargeWay<%= item.dictCode %>"><%= item.dictName %>
                </label>
            </dd>
        <% }) %>
    </dl>
</div>
<% } %>



<!-- 搜索 -->
<!-- <div class="sl-search">
    <input type="text" class="search-input" value="<%= data.defaults && data.defaults.keyword %>" maxlength="30">
    <span class="search-btn"></span>
</div> -->