.my-info-area {overflow: hidden;}
.right-con-wrap {width: 970px;}
.D_table table{width: 100%;text-align: center;background: #fff;border: 1px solid #ccc;}
.D_table table tr th{background: #069cd9;font-size: 14px;height: 36px;border-bottom: 1px solid #fff;line-height: 37px;font-weight: 600;color: #fff;}
.D_table table tbody tr td{border-bottom: 1px solid #ccc;font-size: 14px;padding: 10px 0;line-height: 24px;vertical-align:middle;}
.D_table table tbody tr:last-child td{border: 0;}
.D_table table tbody tr td a{color: #113c6a;}
.user-name-area {width: 80px;height: 18px;  overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}

.right-con-wrap .R-topList .R-cons{padding: 22px 24px;box-sizing:border-box;height: 118px;border: 1px solid #aaa;margin-left: -1px;margin-bottom: -1px;}
.right-con-wrap .R-topList .R-cons:first-child{/*width: 224px;*/width: 300px;}
.right-con-wrap .R-topList .user-cost{/*width: 220px;*/width: 363px;}
.right-con-wrap .R-topList .user-ser{width: 310px;}
.right-con-wrap .R-topList .user-demand{width: 662px;}
.right-con-wrap .R-topList .user-demand .btn-publish-demand {
    text-align: center;
    line-height: 25px;
    width: 102px;
    height: 26px;
    border: 0;
    outline: none;
    display: block;
    position: relative;
    top: 45px;
}

.right-con-wrap a.message{background: url('../../../images/news.png') no-repeat left center;line-height: 16px;padding-left: 22px;margin: 10px 0;}
.right-con-wrap .unrealName{background: url('../../../images/unAuth.png') no-repeat left center;line-height: 16px;padding-left: 22px;margin-top: 5px;text-decoration: underline;}
.right-con-wrap .realName{background: url('../../../images/auth.png') no-repeat left center;line-height: 16px;padding-left: 22px;margin-top: 5px;}
.right-con-wrap .realNamenow{background: url('../../../images/authNow.png') no-repeat left center;line-height: 16px;padding-left: 22px;margin-top: 5px;color: #f0b742;}
.right-con-wrap .RCconsList p{border-bottom: 1px dashed #069cd9;line-height: 26px;}
.right-con-wrap .RCconsList p span{display: inline-block;}
.right-con-wrap .RCconsList p span:first-child{width: 60px;}
.right-con-wrap .RCconsListBtn p{line-height: 26px;}
.right-con-wrap .RCconsListBtn a{    text-align: center;
    line-height: 25px;display:block;width: 102px;height: 26px;border: 0;outline: none;display: block;}

.more{right: 18px;top: 2px;}
.mainDatas{padding: 20px 15px;margin-top: 16px;background: #fff;}
.mainDatas ul p ,.R-myServerList >ul >p{padding: 50px;font-size: 18px;}
.mainDatas ul p a,.R-myServerList >ul >p>a {text-decoration: underline;}
.mainDatas .DataList li{width: 177px;width: 173px\9;height: 212px;border-radius: 10px;border: 1px solid #ccc;overflow: hidden;float: left;margin: 0 11px 0 0;}
.mainDatas .DataList li a{display: block;width: 100%;height: 100%;}
.mainDatas .DataList li .top{width: 100%;height: 30px;line-height: 30px;background: #ebedf0;padding: 0 12px;}
.mainDatas .DataList li .centers{text-align: center;}
.mainDatas .DataList li .centers img{display: inline-block;margin: 10px 0 4px;}
.mainDatas .DataList li .centers span{display: block;color: #444;font-size: 14px;}
.mainDatas .DataList li .downs{margin-top: 20px;}
.mainDatas .DataList li .downs span{display: block;text-align: center;height: 36px;width: 58px;}
.mainDatas .DataList li .downs span:not(:last-child){border-right:1px solid #ccc;}
.mainDatas .DataList li .downs span em{display: block;color: #999;margin-top: 7px;}
.mainDatas .DataList li .downs span i{display: block;line-height: 36px;}
.mainDatas .DataList li:nth-child(4n){margin: 0;}

.R-myServerList{background: #fff;}
.R-myServerList ul li{padding: 14px 12px;height: 110px;border-bottom: 1px solid #ccc;}
.R-myServerList ul li:last-child{border:0;}
.R-myServerList ul li img{width: 156px;height: 110px;}
.myServerRight{width: 580px;}
.myServerRight a{line-height: 28px;}
.myServerRight p.R-infos{line-height: 20px;margin: 8px 0 11px;height: 44px;overflow: hidden;}
.myServerRight p span{margin-right: 22px;}
.citysSel{right: 0;top:0;color: #fff;background: #069cd9;padding: 8px 12px;}

.topTab{
    height: 40px;
    margin: 0 0 15px 0;
    background: #f9f9f9;
    border: 1px solid #ccc;
}
.topTab span a,.topTab span a:visited,.topTab span a:active {color: #444;display: block;}
.topTab span{display: block;float: left;padding: 0 20px;font-size: 15px;line-height: 38px;/*margin-right: 14px;*/cursor: pointer;position: relative;height: 40px;}
.topTab span.active{
    border-top: 2px solid #069cd9;
    color: #069cd9;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: -1px;
}
.topTab span:first-child {
    border-left: 0;
}

.layui-layer-content input[readonly]{
    cursor:default;background-color:#FFF;}
.user-center-api-list {padding: 20px 0 20px 10px;}
.user-center-api-list .api-item .downs span { width: 75px;}
.user-center-api-list .api-item {width: 228px;margin: 0 10px 10px 0;margin-right: 10px\9;}

.tabDownCons input[readonly] {cursor: default;background-color:#fff;}