
<% if(data.list &&　data.list.length > 0) { %>
<% if(data.type =='data'){ %>
<% _.each(data.list, function(item){ %>
<li>
    <p>
        <a href="sources.html#detail/<%= item.id %>" class="ft16"><%= item.name %></a>
        <span>类型：</span>
        <span class="corOrange">数据报告</span>
    </p>
    <p  class="cor9"><%= item.description %></p>
</li>
<% }); %>
<% }else if(data.type =='api'){ %>
<% _.each(data.list, function(item){ %>
<li>
    <p>
        <a href="api.html#detail/<%= item.apiServiceId %>" class="ft16"><%= item.apiServiceName %></a>
        <span>类型：</span>
        <span class="corOrange"><%= item.typeDesc %></span>
    </p>
    <p  class="cor9"><%= item.description %></p>
</li>
<% }); %>
<% }else if(data.type =='saas'){ %>
<% _.each(data.list, function(item){ %>
<li>
    <p>
        <a href="saas.html#detail/<%= item.id %>" class="ft16"><%= item.name %></a>
        <span>类型：</span>
        <span class="corOrange">SaaS服务</span>
    </p>
    <p  class="cor9"><%= item.description %></p>
</li>
<% }); %>
<% }else{ %>
<% _.each(data.list, function(item){ %>
<li>
    <p>
        <a href="services.html#detail/<%= item.id %>" class="ft16"><%= item.name %></a>
        <span>类型：</span>
        <span class="corOrange">微应用</span>
    </p>
    <p  class="cor9"><%= item.description %></p>
</li>
<% }); %>
<% }; %>
<% }else{ %>
    <div class="none-list">找不到数据，换个关键词试试！</div>
<% }; %>