<div>
    <div class="bigInputs clearfix">
        <div class="sel fl">
            <p class="down selCons allSearch"><%= data.dataType %></p>
        </div>
        <input type="text" class="search fl" id="searchValue" value="<%= data.keyword %>">
        <input type="button" class="searchBtn fl" value="搜索">
    </div>
</div>
<div class="grid960">
    <div class="search-type">
        <span class="<%= data.dataType =='API'?'active': '' %>" data-type="API">API</span>
        <span class="<%= data.dataType =='数据报告'?'active': '' %>" data-type="数据报告">数据报告</span>
        <span class="<%= data.dataType =='微应用'?'active': '' %>" data-type="微应用">微应用</span>
        <span class="<%= data.dataType =='SaaS服务'?'active': '' %>" data-type="SaaS服务">SaaS服务</span>
    </div>
    <div class="SearchList <%= data.dataType =='API'? '': 'hide' %>"  id="apiResult">
        <ul>

        </ul>
        <div class="Page text-center">

        </div>
    </div>
    <div class="SearchList <%= data.dataType =='数据报告'?'': 'hide' %>" id="dataResult" >
        <ul >

        </ul>
        <div class="Page text-center">

        </div>
    </div>
    <div class="SearchList <%= data.dataType =='微应用'?'': 'hide' %>"  id="serResult">
        <ul>

        </ul>
        <div class="Page text-center">

        </div>
    </div>
    <div class="SearchList <%= data.dataType =='SaaS服务'?'': 'hide' %>"  id="saasResult">
        <ul>

        </ul>
        <div class="Page text-center">

        </div>
    </div>
</div>