<div class="bannger fl mr10">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% _.each(data, function(item){ %>
            <a <%=  item.bannerUrl ? 'href ='+ item.bannerUrl : '' %> class="swiper-slide">
                <img src="<%= item.bigBannerPic %>" alt="<%= item.title %>">
            </a>
            <% }); %>
        </div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>