<div class="bannger fl">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% _.each(data, function(item){ %>
            <a target="_blank" <%=  item.bannerUrl ? 'href ='+ item.bannerUrl : 'javascript:;' %> class="swiper-slide">
                <img src="<%= item.bigBannerPic %>" alt="<%= item.title %>">
            </a>
            <% }); %>
           <!-- <a href="#" class="swiper-slide ">
                <img src="../../images/newicon/banner2.png">
            </a>
            <a href="#" target="_blank" class="swiper-slide">
                <img src="../../images/newicon/banner3.png">
            </a>
            <a href="#" class="swiper-slide">
                <img src="../../images/newicon/banner4.png">
            </a>-->
        </div>
        <!-- Add Pagination -->
        <a class="swiper-button-next"></a>
        <a class="swiper-button-prev"></a>
        <div class="swiper-pagination"></div>
    </div>
</div>