
<% _.each(data, function(item){ %>
<li class="angled-135 posRE">
    <div class="tabConsTop clearfix">
        <div class="iconforapi" style="background: url(<%= item.background %>)">
            <% if(item.sourceType ==='01'){ %>
            <a href="api.html#detail/<%- item.id %>" class="apihref">
            <% }else if(item.sourceType ==='02'){ %>
            <a href="sources.html#detail/<%- item.id %>" class="apihref">
            <% }else{ %>
            <a href="services.html#detail/<%- item.id %>" class="apihref">
            <% };%>
            <p title="<%- item.name %>">
                <span class="title"><%- item.name %></span>
                <span><%- item.description %></span>
            </p>
            </a>
        </div>
    </div>
</li>
<% }); %>