<div id="demandTabs" class="topTab clearfix myApiTop">
    <!-- <span <%= (name == 'demand' ? 'class=active' : '' ) %> ><a href="#demand">发布的数据需求</a></span> -->
    <span <%= (name == 'apiDemand' ? 'class=active' : '' ) %> ><a href="#apiDemand">发布的API需求</a></span>
    <span <%= (name == 'serversDemand' ? 'class=active' : '' ) %>><a href="#serversDemand">发布的服务需求</a></span>
    <span <%= (name == 'followDemand' ? 'class=active' : '' ) %>><a href="#followDemand">我的关注</a></span>
    <span <%= (name == 'acceptDemand' ? 'class=active' : '' ) %>><a href="#acceptDemand">我的接单</a></span>
</div>
<div id="demandInfo"  class="tabDownCons">

</div>
