.tab-title{
    margin-bottom: 15px;
}
.tab-title a {
    border: none;
    display: block;
    background: #FFF;
    border-radius: 5px;
    color: #ff9900;
    padding: 8px;
    width: 120px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ff9900;
}
.D_table table tbody tr td a {
    color: #ff9900;
}
a{cursor: pointer;}


.orderDiv {padding: 20px 30px;font-size: 14px;}
.orderDiv label{
    float: left;
    padding: 5px 0;
}
.orderDiv label span{
    display: block;
    float: left;
    width: 100px;
    line-height: 26px;
}
.orderDiv label textarea{
    width: 270px;
    padding: 4px 6px;
    height: 70px;
    float: left;
}
.orderDiv label input{
    width: 270px;
}
.orderDiv label a{
    color: #0ab7ef;
    line-height: 25px;
}
#serNameList #payTip {
    padding: 20px;
    font-size: 14px;
    display: none;
}
