<div class="ns-gridPanelItem">
    <div class="ns-gridPanelItemBody">
        <a href="api.html?detail/<%= data && data.apiServiceId %>" class="imgLink">
            <img src="<%= data && data.iconUrl %>" alt="API icon">
        </a>
    </div>
    <div class="ns-gridPanelItemBottom">
        <a href="api.html?detail/<%= data && data.apiServiceId %>" class="h1"><%= data && data.apiServiceName %></a>
        <p class="info text-orange">
            <% if(data && data.chargeType == '04'){ %>
                <%= '¥' + data.price %>
                <%= data && data.chargeCount %>月起
            <% }else if(data.chargeType == '05'){ %>
                <%= '¥' + data.price %>
                <%= data && data.chargeCount %>次起
            <% }else if(data.chargeType == '01' || data.chargeType == '02'){ %>
                <%= data && data.chargeTypeDesc %>
            <% } %>
        </p>
        <div class="info">
          <div class="cell"> 应用数 <span><%= data && data.applyCnt %></span></div>
            <div class="cell"> 浏览量 <span><%= data && data.viewCnt %></span></div>
        </div>
    </div>
</div>