<p class="top clearfix boxSizing">
    <span class="fr block corGreen"></span>
</p>
<div class="tc">
    <a href="api.html#detail/<%= data && data.apiServiceId %>">
        <img src="<%= data && data.iconUrl %>" alt="">
        <span title="<%= data && data.apiServiceName %>"><%= data && data.apiServiceName %></span>
    </a>
</div>
<div class="downs clearfix">
    <span class="fl">
        <img src="../../images/small01.png" alt="">
        <em><%= data && data.applyCnt %></em>
    </span>
    <span class="fl">
        <img src="../../images/small02.png" alt="" class="mt3">
        <em><%= data && data.accessCnt %></em>
    </span>
    <span class="fl">
        <% if(data && data.chargeType == '04'){ %>
            <em class="red mt3"><%= data && data.price ? '¥' + data.price : '' %></em>
            <em><%= data && data.chargeCount %>月起</em>
        <% }else if(data.chargeType == '05'){ %>
            <em class="red mt3"><%= data && data.price ? '¥' + data.price : '' %></em>
            <em><%= data && data.chargeCount %>次起</em>
        <% }else if(data.chargeType == '01'){ %>
            <i class="red ft14"><%= data && data.chargeTypeDesc %></i>
        <% } %>
    </span>
</div>
