<div class="R-top clearfix">
    <div class="fl R-nameCons">
        <h3 class="ft24 mb25"><%= data.name %></h3>
        <p>
            <span class="cor7 mr25 ft14">访问量：<em class="cor7"><%= data.pageviewAmount %></em></span>
            <span class="cor7 mr25 ft14">关注量：<em class="cor7"><%= data.focusAmount %></em></span>
            <span class="cor7 mr25 ft14">
                <em class="red">
                <% if(data.status == 2) { %>
                    新任务
                <% }else if(data.status == 5){ %>
                    已结束
                <% } %>
                </em>
            </span>
        </p>
    </div>
    <div class="fr R-shareStarCons">
        <p>
            <% if(data.myself == 0 && data.status != 5){ %>
                <% if(!data.billFlag){ %>
                <span id="applyService">接单</span>
                <% }else { %>
                <span class="disable">不可接单</span>
                <% } %>
            <% } %>
            <% if(!data.attentionFlag){ %>
            <span id="follow">关注</span>
            <% }else{ %>
            <span id="follow">取消关注</span>
            <% } %>
        </p>
    </div>
</div>
<div class="R-Cons">
    <p class="titTop bggray ft14 corBlue">详情</p>
    <div class="titTopCons">
        <ul>
            <li class="mb10">
                <span>预算金额：</span>
                <span class="cor7"><%= data.money %></span>
            </li>
            <li class="mb10">
                <span>截止日期：</span>
                <span class="cor7"><%= data.endTime && new Date(data.endTime).format('yyyy-MM-dd') %></span>
            </li>
            <li class="mb10">
                <span>联系人：</span>
                <span class="cor7"><%= data.contactUsername %></span>
            </li>
            <li class="mb10">
                <span>联系人电话：</span>
                <span class="cor7"><%= data.contactPhone %></span>
            </li>
            <li class="mb10">
                <span>需求用户：</span>
                <span class="cor7"><%= data.reqUser %></span>
            </li>
            <!-- <li class="mb10">
                <span>备用联系人信息：</span>
                <span class="cor7"><%= data.spareContactname %></span>
            </li>
            <li class="mb10">
                <span>备用联系人电话：</span>
                <span class="cor7"><%= data.spareContactphone %></span>
            </li> -->
            <li class="mb10">
                <span>邮箱：</span>
                <span class="cor7"><%= data.contactEmail %></span>
            </li>
            <li class="mb10">
                <span>地址：</span>
                <span class="cor7"><%= data.contactAddress %></span>
            </li>
        </ul>
    </div>
</div>
<div class="R-Cons">
    <p class="titTop bggray ft14 corBlue">任务描述</p>
    <div class="titTopCons">
        <ul>
            <li class="mb10">
                <span>任务名称：</span>
                <span class="cor7"><%= data.name %></span>
            </li>
            <li class="mb10">
                <span>任务内容：</span>
                <span class="cor7"><%= data.description %></span>
            </li>
            <li class="mb10">
                <span>任务要求：</span>
                <span class="cor7"><%= data.required %></span>
            </li>
        </ul>
    </div>
</div>
