<div class="ReleaseMainCons grid960 clearfix bgWhite boxShadiow">
    <!-- top -->
    <% if(data && data.id) { %>
    <p class="ReleaseTit">修改服务开发需求</p>
    <% }else{ %>
    <p class="ReleaseTit">新增服务开发需求</p>
    <% } %>
    <!-- down -->
    <form class="ReleaseInputs" onsubmit="return false;">
        <% if(data && data.id) { %>
        <input type="hidden" name="id" value="<%= data.id %>" />
        <% } %>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>需求名称：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="name" maxlength="100" placeholder="请输入需求名称" value="<%= data && data.name %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>任务描述：</p>
            <div class="fl R_right">
                <p>
                    <textarea name="description" id="" cols="30" rows="10" placeholder="请输入任务描述"><%= data && data.description %></textarea>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>任务要求：</p>
            <div class="fl R_right">
                <p>
                    <textarea style="height: 120px" name="required" id="" cols="30" rows="10" placeholder="请输入任务要求"><%= data && data.required %></textarea>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>任务金额：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="money" id="taskMoney" maxlength="10" placeholder="请输入任务金额" value="<%= data && data.money %>">
                    <span class="cell">单位（元）</span>
                    <label id="money-error" class="error" for="money"></label>
                </p>
            </div>
        </div>
        <div class="tips">提供担保金有助于提升信誉，最低提供30%保证金即可，所有保证金均为线上提供，谨防诈骗</div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">设置保证金比例：</p>
            <div class="fl R_right bail">
                <select id="ensurePercent" name="percent">
                    <option value="0" <%= data && data.percent == 0 ? 'selected' : '' %>>0%</option>
                    <option value="0.3" <%= data.percent ? (data.percent == 30 ? 'selected' : '') : 'selected' %>>30%</option>
                    <option value="0.5" <%= data && data.percent == 50 ? 'selected' : '' %>>50%</option>
                    <option value="0.7" <%= data && data.percent == 70 ? 'selected' : '' %>>70%</option>
                    <option value="1" <%= data && data.percent == 100 ? 'selected' : '' %>>100%</option>
                </select>
                <span>金额</span>
                <input type="text" name="ensureMoney" id="ensureMoney" maxlength="20" readonly value="">
                <span>单位（元）</span>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>截止日期：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="endTime" class="end-time" readonly value="<%= data && data.endTime && new Date(data.endTime).format('yyyy-MM-dd') %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">主联系人信息：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" maxlength="50" name="contactUsername" placeholder="请输入联系人信息" value="<%= data && data.contactUsername %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">主联系人电话：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="contactPhone" placeholder="请输入联系人电话" value="<%= data && data.contactPhone %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">备用联系人信息：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" class="cora bggray" readonly value="<%= data && data.userInfo && data.userInfo.name %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">备用联系人电话：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" class="cora bggray" readonly value="<%= data && data.userInfo && data.userInfo.mobile %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left wd160"><em>*</em>是否需要平台撮合交易：</p>
            <div class="radio-list">
                <label>
                    <% if(!data.id){ %>
                    <input type="radio" checked name="matchmakeTrade" value="Y">
                    <% }else { %>
                    <input type="radio" <%= data && data.matchmakeTrade == 'Y' && "checked" %> name="matchmakeTrade" value="Y">
                    <% } %>
                    是
                </label>
                <label>
                    <input type="radio" <%= data && data.matchmakeTrade == 'N' && "checked" %> name="matchmakeTrade" value="N">
                    否
                </label>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>分类：</p>
            <div class="fl R_right wd660 category">
                <!-- <input type="hidden" name="categoryName" id="categoryName" value="" /> -->
                <!-- 服务分类 -->
                <select name="categoryId" data-default="<%= data && data.categoryId ? data.categoryId : '' %>" id="category">
                </select>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>标签：</p>
            <div class="fl R_right category">
                <div class="tag-area fl">
                    <span class="un-select">未选择任何标签</span>
                </div>
                <a class="btn btn-primary" id="chooseTag" href="javascript:;">选择</a>
            </div>
            <label class="tag-error">请选择标签</label>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">需求用户：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="reqUser" maxlength="20" placeholder="请输入需求用户" value="<%= data && data.reqUser %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">邮箱：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="contactEmail" placeholder="请输入邮箱" value="<%= data && data.contactEmail %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">地址：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="contactAddress" placeholder="请输入地址" value="<%= data && data.contactAddress %>">
                </p>
            </div>
        </div>
        <div class="R_Btns">
            <button type="submit" class="bgBlue" id="publishBtn">保存</button>
            <button id="goBack" class="bgBlue">返回</button>
        </div>
        <div class="tips bottom mt30">
            <p>常见问题：</p>
            <p>1、保证金交到平台，在哪里可以看到，怎么使用？</p>
            <p>答：保证金交到平台可以在用户中心我的账户中体现，通过充值记录查询到，当服务商申请并提交相应材料后可以根据完成程度使用保证金进行打款。<span class="red">另在需求结束前保证金是无法进行提款的。</span></p>
            <br/>
            <p>2、如何快速填写需求？</p>
            <p>答：您可以通过参考数创易网站原有需求描述方式或者直接联系数创易工作人员协助填写。</p>
        </div>
    </form>
</div>