<div class="ns-content">
    <div class="ns-content-bannerLink">
        <a href="javascript:;" id="goServicePublish" class="linkBtn service-publish-btn">发布需求</a>
        <img src="../../../images/newicon/data_demand_banner.jpg" alt="发布服务开发需求">
    </div>
</div>
<div class="ns-content">
    <div class="ns-searchCom">
        <div class="clearfix">
            <div class="ns-searchBody">
                <div class="inputWrap">
                    <input type="text" class="search-input" placeholder="请输入需要搜索的内容">
                </div>
            </div>
            <button class="btn search-btn">搜索</button>
        </div>
        <div class="hotKey">
            <dl id="dateFilter">
                <dt>发布时间：</dt>
                <dd><a href="javascript:;" data-start="<%= new Date().addDays(-7).format('yyyy-MM-dd') %>" data-end="<%= new Date().format('yyyy-MM-dd') %>">7天内</a></dd>
                <dd><a href="javascript:;" data-start="<%= new Date().addDays(-30).format('yyyy-MM-dd') %>" data-end="<%= new Date().format('yyyy-MM-dd') %>">1个月内</a></dd>
                <dd><a href="javascript:;" data-start="<%= new Date().addDays(-90).format('yyyy-MM-dd') %>" data-end="<%= new Date().format('yyyy-MM-dd') %>">3个月内</a></dd>
                <dd><a href="javascript:;" data-start="<%= new Date().addDays(-180).format('yyyy-MM-dd') %>" data-end="<%= new Date().format('yyyy-MM-dd') %>">6个月内</a></dd>
                <dd><a href="javascript:;" data-start="<%= new Date().addDays(-365).format('yyyy-MM-dd') %>" data-end="<%= new Date().format('yyyy-MM-dd') %>">1年内</a></dd>
                <dd><a href="javascript:;" data-start="" data-end="<%= new Date().addDays(-365).format('yyyy-MM-dd') %>">1年以前</a></dd>
            </dl>
        </div>
    </div>
</div>
<div class="ns-content">
    <div class="ns-list data-list">
        
    </div>
    <!-- 分页 -->
    <div class="text-center" id="page">
    </div>
</div>