<form id="serverChargePackage" onsubmit="return false;">
    <ul>
        <li>
            <label>
                <span>计费方式：</span>
                <%if(res.isOth){%>
                <p class="mes"><%=res.chargeType=='05'? '按次数': '按时间'%></p>
                <%}else{%>
                <select name="chargeType" class="charge-type">
                    <option value="05" <%if(res && res.chargeType=='05'){%>selected="selected"<%}%>>按次数</option>
                    <option value="04" <%if(res && res.chargeType=='04'){%>selected="selected"<%}%>>按时间</option>
                </select>
                <%}%>
            </label>
        </li>
        <li>
            <label>
                <span><i class="need">*</i>套餐名称：</span>
                <%if(res.isOth){%>
                <p class="mes"><%=res.name%></p>
                <%}else{%>
                <input type="text" name="name" id="packageName" value="<%=res.name%>">
                <p class="input-mes-server fl">套餐名称最多不超过50字</p>
                <%}%>
            </label>
        </li>
        <li>
            <label style="position: relative;">
                <span><i class="need">*</i>套餐价格：</span>
                <%if(res.isOth){%>
                <p class="mes"><%=res.price%>元/<%=res.chargeCount%><%= res.chargeType == '04' ? '天' : '次'%></p>
                <%}else{%>
                <label><input type="number" class="small" name="price" id="price" value="<%=res && res.price%>">元/</label>
                <label><input type="number" class="small" name="chargeCount" id="chargeCount" value="<%=res && res.chargeCount%>">
                    <span class="prePrice"><%= res.chargeType == '04' ? '天' : '次'%></span>
                </label>
                <p class="input-mes-server fl">价格大于等于0元，天数是大于1的整数</p>
                <%}%>
            </label>
        </li>
        <li>
            <label>
                <span><i class="need">*</i>购买限制：</span>
                <%if(res.isOth){%>
                <p class="mes"><%=res.boughtLimit == '-1'? '不限制': '限制一次'%></p>
                <%}else{%>
                <label title="不限制"><input type="radio" value="-1" name="boughtLimit" style="margin: 0;" <%if(res || res.boughtLimit == '-1'){%>checked<%}%>>不限制</label>
                <label title="限制一次" style="margin-left: 5px;"><input value="1" type="radio" name="boughtLimit" style="margin: 0;" <%if(res.boughtLimit == '1'){%>checked<%}%>>限制一次</label>
                <%}%>
            </label>
        </li>
        <li>
            <%if(res.isOth){%>
            <label class="gl">
                <span>使用限制：</span>
                <p class="mes"><%if(!res.invokeLimit || res.invokeLimit == '-1'){%>
                    不限制
                    <%}else{%>
                    <%=res.invokeLimit%><%= res.chargeType == '04' ? '次' : '天'%>
                    <%}%></p>
            </label>
            <%}else{%>
            <label class="gl">
                <span>使用限制：</span>
                <input type="number" class="small fl" name="invokeLimit" id="invokeLimit" value="<%=res && res.invokeLimit%>">
                <b class="fl"><span class="limitPre"><%= res.chargeType == '04' ? '次' : '天'%></span>
                </b>
                <b class="fl ml20">(不填则为无限制)</b>
            </label>
            <p class="input-mes-server fl">次数是大于1的整数</p>
            <%}%>
        </li>
        <li>
            <label>
                <span><i class="need">*</i>生效日期：</span>
                <%if(res.isOth){%>
                <input type="hidden" id="effectDate" value="<%= res.effectDate ? new Date(res.effectDate).format('yyyy-MM-dd') : ''%>">
                <p class="mes"><%=new Date(res.effectDate).format('yyyy-MM-dd')%></p>
                <%}else{%>
                <input type="text" name="effectDate" id="effectDate" value="<%= res.effectDate ? new Date(res.effectDate).format('yyyy-MM-dd') : ''%>" readonly>
                <%}%>
            </label>
        </li>
        <li>
            <label>
                <span>失效日期：</span>
                <input type="text" name="expiryDate" id="expiryDate" value="<%= res.expiryDate ? new Date(res.expiryDate).format('yyyy-MM-dd') : ''%>" readonly>
            </label>
        </li>
        <li>
            <label>
                <span>套餐说明：</span>
                <%if(res.isOth){%>
                <p class="mes"><%=res.description%></p>
                <%}else{%>
                <textarea id="chargeDescription" name="description"><%=res && res.description%></textarea>
                <%}%>
            </label>
        </li>
    </ul>
</form>