.ReleaseMainCons .ReleaseTit{
    font-size: 20px;
    color: #333;
    padding: 8px 28px;
    margin-bottom: 26px;
    border-left: 8px solid #2dc2fe;
}
.ReleaseInputs{padding: 24px 36px;font-size: 14px;background: #f2f5fb;}
.ReleaseInputs .ReleaseList{margin-bottom: 15px;}
.ReleaseInputs .ReleaseList .R_left{color:#8b8b8b;line-height: 32px;margin-right: 6px;text-align: right; width: 160px;}
.ReleaseInputs .ReleaseList .R_left.unit{width: 30px;}
.ReleaseInputs .ReleaseList .R_right input[type="text"]{border: 1px solid #ccc;border-radius: 0;box-shadow: none;margin: 0;outline: none;width: 700px;height: 32px;box-sizing:border-box;color: #333;font-size: 14px;float: left;}
.ReleaseInputs .ReleaseList .R_right input[type="text"].small {width: 590px;}
.ReleaseInputs .ReleaseList .R_right input[type="text"].mini {width: 200px;}
.ReleaseInputs .ReleaseList .R_right textarea{font-size: 14px;border: 1px solid #ccc;border-radius: 0;box-shadow: none;margin: 0;outline: none;width: 700px;height: 68px;box-sizing:border-box;color: #333;resize:none;padding: 6px;float: left;}
.ReleaseInputs .ReleaseList .R_right input[type="text"].error{border: 1px solid #d82e3a;}
.ReleaseInputs .ReleaseList .R_right textarea.error{border: 1px solid #d82e3a;}
.ReleaseInputs .ReleaseList .R_right label.error{float: left;  line-height: 30px;  color: #d82e3a;  margin-left: 20px;  font-size: 14px;background: url(../../images/del.png) no-repeat center left; padding-left: 32px;}
.ReleaseInputs .ReleaseList .R_right input[readonly] {cursor: default;background-color:#fff;}
.ReleaseInputs .ReleaseList .R_left em {margin-left: -10px;}
.ReleaseInputs .ReleaseList .R_right .block-radio {
    height: 30px;
    line-height: 30px;
    margin-right: 15px;
    display: inline-block;
}
.ReleaseInputs .ReleaseList .R_right .block-radio input[type="radio"] {
    margin: 0;
}
.ReleaseInputs .ReleaseList.split {
    line-height: 17px;
}
.ReleaseInputs .ReleaseList.split hr {
    width: 450px;
    display: inline-block;
    border-bottom: 1px solid #aaa;
} 
.ReleaseInputs .ReleaseList.split span{
    display: inline-block;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    width: 120px;
}
.ReleaseInputs .ReleaseList.split span.more i {
    border-bottom: 7px solid #0f96ee;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: -13px;
}
.ReleaseInputs .ReleaseList.split i{
    border-top: 7px solid #0f96ee;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    width: 0;
    height: 0;
    position: relative;
    top: 13px;
    left: 3px;
}
.R_Btns{text-align: center;margin:50px 0 10px;}
.R_Btns .bgBlue{width: 120px;height: 44px;border: 0;outline: none;color: #fff;font-size: 16px;}
.R_Btns .bgBlue:first-child{margin-right: 40px;}
.demand-content .radio-list {width: 760px;}
.demand-content .radio-list label{    float: left;  width: 112px;  display: block;  height: 30px;  line-height: 30px;}
.demand-content .radio-list label input {margin: 0;}
.demand-content .radio-list .message{height: 30px; line-height: 30px;}
.demand-content .checkbox-border {line-height: 32px;}
.demand-content #otherLanguage {
    width: 100px;
    float: right;
    margin-left: 10px;
}
.demand-content .beauty-file {
    position: relative;
    cursor: pointer;
    width: 80px;

}
.demand-content .btn-file{
    opacity: 0; 
    width: 130px;
    position: absolute;
    top: 0;
    left: -85px;
    /*background: #111;*/
}
.demand-content #showFileName {
    position: relative;
}
label.checkbox-inline, .checker {
    display: inline-block;
}
.orderDiv {padding: 20px 30px;font-size: 14px;overflow: hidden;}
.orderDiv label{
    float: left;
    padding: 5px 0;
    line-height: 32px;
}
.orderDiv label span{
    display: block;
    float: left;
    width: 100px;
    line-height: 26px;
}
.orderDiv label textarea{
    width: 270px;
    padding: 4px 6px;
    height: 70px;
    float: left;
}
.orderDiv label input{
    width: 270px;
}
.orderDiv em {
    margin-left: -10px;
}
