.M-DownCons{padding: 32px 16px;/*border: 1px solid #ccc;*/border-top: 0;}
.M-table table tbody tr td{
    border-right: solid 1px #ccc !important;
    max-width: 200px;
}
.tab-title button {
    border: none;
    background: #069cd9;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}