<div id="incubatorTabs" class="topTab clearfix myApiTop">
    <span <%= (name == 'myIncubator' ? 'class=active' : '' ) %> ><a href="#incubator">发布的路演</a></span>
    <span <%= (name == 'followIncubator' ? 'class=active' : '' ) %> ><a href="#followRoadShow">关注的路演</a></span>
    <span <%= (name == 'myActivity' ? 'class=active' : '' ) %>><a href="#myActivity">发布的活动</a></span>
    <span <%= (name == 'followActivity' ? 'class=active' : '' ) %> ><a href="#followActivity">关注的活动</a></span>
    <span <%= (name == 'callActivity' ? 'class=active' : '' ) %>><a href="#applyActivity">报名的活动</a></span>
</div>
<div id="incubatorInfo"  class="tabDownCons">

</div>
