
.float-div {
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 200;
    margin-top: -115px;
    width: 40px;
    height: 310px;
}

.float-div a .gototop{
    background: url("../../images/ic_top.png") no-repeat;
}

.float-div a .gm{
    /*background-position:  -56px -95px;*/
}

.float-div a .ercode{
    background: url("../../images/ic_ercode.png") no-repeat;
}

.float-div a .callus{
    background: url("../../images/ic_callus.png") no-repeat;
}

.float-div>div{
    height: 70px;
}
.mt0 {
    margin-top: 0;
}
.wpa-container {
    cursor: pointer;
    display: inline-block;
    width: 68px;
    height: 68px;
    border-radius: 2px;
    margin-top: 10px;
    border: 1px solid #dadee7;
    position: relative;
    font-family: "microsoft yahei";
    font-size: 12px;
    text-align: center;
    top: 0;
}
.first-icon .wpa-container{
    margin-top: 0;
}
.theme-1 {
    width: 100%;
    height: 40px;
    background-color: #f9f7f7;
    background: url("../../images/newicon/float-icon.png") no-repeat 0 0;
}
.showercode {background-position: 0 -128px;}
.showephone {background-position: 0 -168px;}
.theme-1:hover {border:1px solid #5cb981;}
.er-code {
    height: 165px;
    width: 165px;
    padding: 10px;
    position: fixed;
    top: 50%;
    margin-top: -165px;
    z-index: 200;
    right: 55px;
    background: url("../../images/codeBg.png") no-repeat;
}
.er-code p{
    text-indent: 40px;
}
.er-code div{
    height: 126px;
    width: 126px;
    background: url("../../images/ercode.png") no-repeat;
    background-size: 100% 100%;
}

.btn-text {
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 70px;
    color: #fff;
    display: block;
    position: relative;
    top: 43px;
}
.theme-1 .btn-text {
    color: #1e2330;
}
.float-div a span.icon-img {
    display: inline-block;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 13px;
    left: 22px;
}
