<div class="M-mainInfo clearfix bgWhite" style="padding-top: 20px;">
    <div class="M-downCons">
        <div class="D_table M-table">
            <table>
                <thead>
                <tr>
                    <th width="8%">服务渠道</th>
                    <th width="18%">服务</th>
                    <th width="8%">费用</th>
                    <th width="8%">服务商</th>
                    <th width="8%">浏览次数</th>
                    <th width="18%">申请时间</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(serverList, function (item) { %>
                <tr>
                    <td><%= item.appType %></td>
                    <td>
                        <a href="services.html?detail/<%= item.sourceId %>"><%= item.appName %></a>
                    </td>
                    <td><%= item.price %></td>
                    <td><%= item.provideName %></td>
                    <td><%= item.browNum %></td>
                    <td><%= new Date(+item.applyTime).format('yyyy-MM-dd') %></td>
                </tr>
                <% }); %>
                <%if(serverList.length == 0){%>
                <tr>
                    <td colspan="6">暂无数据</td>
                </tr>
                <%}%>
                </tbody>
            </table>
        </div>
        <div id="serverPage" class="page-area fr"></div>
    </div>
</div>