<div class="M-mainInfo clearfix bgWhite" style="padding-top: 20px;">
    <div class="tab-title" ><a target="_blank" class="corff" href="./services.html#publish">发布新服务</a></div>
    <div class="M-downCons">
        <div class="D_table M-table">
            <table>
                <thead>
                <tr>
                    <th width="8%">服务名称</th>
                    <th width="8%">关注次数</th>
                    <th width="8%">浏览次数</th>
                    <th width="8%">发布时间</th>
                    <th width="8%">服务状态</th>
                    <th width="18%">操作</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(serverList, function (item) { %>
                <tr>
                    <td>
                        <% if(item.status == '0'){ %>
                            <a href="services.html?detail/<%= item.id %>"><%= item.name %></a>
                        <% }else{ %>
                            <a class="cor3"><%= item.name %></a>
                        <% } %>
                    </td>
                    <td><%= item.attentionCount %></td>
                    <td><%= item.viewCount %></td>
                    <td><%= new Date(item.createdTime).format('yyyy.MM.dd') %></td>
                    <td><%= item.statusDesc %></td>
                    <td>
                        <!-- 通过 -->
                        <% if(item.status == '0'){ %>
                            <a href="services.html#edit/<%= item.id %>">修改</a>
                            <a class="unshelve" data-id="<%= item.id %>" href="javascript:;">下架</a>
                            <%if(item.chargeType == '02'){%>
                            <a href="javascript:;" data-id="<%= item.id %>" class="changePrice">调价</a>
                            <%}%>
                        <!-- 审核中 -->
                        <% }else if(item.status == '2'){ %>
                            <a href="services.html#show/<%= item.id %>">查看</a>
                        <!-- 拒绝 -->
                        <% }else if(item.status == '3'){ %>
                            <a href="javascript:;" class="reason" data-comment="<%= item.comments %>">查看原因</a>
                            <%if(item.chargeType == '02'){%>
                            <a href="javascript:;" data-id="<%= item.id %>" class="changePrice">调价</a>
                            <%}%>
                            <% if(item.isOnline == 'Y'){ %>
                                <a class="edit" href="services.html#edit/<%= item.id %>">修改</a>
                                <a class="unshelve" href="javascript:;" data-id="<%= item.id %>">下架</a>
                            <% }else{ %>
                                <a class="delete" data-id="<%= item.id %>" href="javascript:;">删除</a>
                                <a class="edit" href="services.html#edit/<%= item.id %>">修改</a>
                            <% } %>
                        <% } %>
                    </td>
                </tr>
                <% }); %>
                <%if(serverList.length == 0){%>
                <tr>
                    <td colspan="6">暂无数据</td>
                </tr>
                <%}%>
                </tbody>
            </table>
        </div>
        <div id="serverPage" class="page-area fr"></div>
    </div>

    <div class="package-area"></div>
    <div class="server-package-area"></div>
</div>