<p class="split">
    <span class="mr20">应付金额：</span>
    <span class="corOrange">￥<span id="amount"><%= data && data.order.pay_balance %></span></span>
</p>
<div class="pay-type">
    <div class="mb15">
      <p class="select-title fl">可用余额：</p>
      <span class="ft16 corOrange ml125 mr20 ">￥<%= data && data.account.account_balance %></span>
      <a href="userInfo.html#account" class="ft16 corBlue">余额不足？去充值</a>
    </div>
    <hr/>

    <!-- 账户余额不足，先去充值 -->
    <% if(data.order.pay_balance <= data.account.account_balance){ %>
    <p class="select-title mt30">请输入支付密码</p>
    <form id="passForm" onsubmit="return false;">
      <div id="passContent" class="mt30 pr">
        <div class="forget-pass">
          <a href="userInfo.html#forgetPayPassword" class="corBlue ft16">忘记支付密码？</a>
        </div>
      </div>
      <button class="qrzf btn-account-pay disabled">确认付款</button>
    </form>
    <% } %>
</div>