
.footer{padding: 20px 0;margin-top: 50px;}
.footer ul{
    margin-left: 130px;
}
.footer ul li a{
    width: 155px;
    display: block;
    color: #888;
    font-size: 14px;
    line-height: 30px;
}
.footer ul li a:first-child{
    font-size: 16px;
    color: #FFF;
    margin-bottom: 20px;
}
.forhelp{
    margin-left: 80px;
    padding: 10px 0 10px 70px;
    border-left: solid 1px #e3e3e3;
    font-size: 14px;
}
.forhelp .swhz{
    padding-left: 60px;
    background: url("../../images/newicon/ic_shangwuhez.png") left center no-repeat;
}
.forhelp .jisuzhichi{
    padding-left: 60px;
    margin-top: 40px;
    background: url("../../images/newicon/ic_jshuzhic.png") left center no-repeat;
}
.righttext img{
    margin-top: 26px;
}
.textinfo{
    color: #888;
    font-size: 16px;
}
.mt76{
    margin-top: 76px;
}
.ml100 {
    margin-left: 100px;
}
.er-code-img{
    width: 126px;
}
