<div class="footer">
    <div class="grid960 clearfix">
        <a href="index.html" class="block fl">
            <img src="../../images/newicon/ic_logo.png" alt="">
        </a>
        <ul class="fl clearfix">
            <li class="fl">
                <% _.each(data.menuList, function (item) { %>
                <a href="<%= item.url %>"><%= item.name %></a>
                <%})%>
            </li>
            <li class="fl">
                <a href="#">帮助</a>
                <a href="#">关于我们</a>
                <a href="guidance.html" target="_blank">新手指导</a>
                <a href="apihelp.html" target="_blank">API使用</a>
                <a href="#">常见问题</a>
            </li>
            <li class="fl">
                <a href="mailto:citysdk@dcholdings.com" >联系我们</a>
                <a href="mailto:citysdk@dcholdings.com">商务合作</a>
                <a href="#">用户反馈</a>
                <a href="#">合作伙伴</a>
            </li>
        </ul>
        <div class="fl text-center righttext">
            <p class="textinfo">关注官方微信</p>
            <img class="er-code-img" src="../../images/ercode.jpg" alt="">
        </div>
    </div>
</div>