<div class="footer bg535353 indexfooter">
    <div class="grid1190 clearfix">
        <a href="index.html" class="block fl">
            <img src="../../images/newicon/ic_logo.png" alt="">
        </a>
        <ul class="fl clearfix">
            <li class="fl">
                <% _.each(data.menuList, function (item) { %>
                <a href="<%= item.url %>"><%= item.name %></a>
                <%})%>
            </li>
            <li class="fl">
                <a href="javascript:;">帮助</a>
                <a href="contactUs.html" target="_blank">关于我们</a>
                <a href="guidance.html" target="_blank">新手指导</a>
                <a href="apihelp.html" target="_blank">API使用</a>
                <a href="question.html" target="_blank">常见问题</a>
            </li>
            <!--<li class="fl">
                <a href="#">联系我们</a>
                <a href="#">商务合作</a>
                <a href="#">用户反馈</a>
                <a href="#">合作伙伴</a>
            </li>-->
        </ul>
        <div class="fl text-center righttext">
            <p class="textinfo">关注官方微信</p>
            <img class="er-code-img" src="../../images/ercode.png" alt="">
        </div>
        <div class="forhelp fl">
            <div class="swhz">
                <p>商务合作（工作日9:00-18:00）</p>
                <p class="ft18 mt10">020-38118467</p>
            </div>
            <div class="jisuzhichi">
                <p>技术支持</p>
                <p class="ft18 mt10">020-38118467</p>
            </div>
        </div>
    </div>
</div>