<p class="smallNav">当前位置：<a href="../index.html">首页</a>>><span>消息管理</span></p>
<div class="bgWhite noticeListCons">
    <ul class="noticeListConsUl mb25" id="firstPage">
        <% _.each(messageList, function (mLitem) { %>
        <li class="clearfix">
            <a data-id="<%=mLitem.id%>" data-message="<%=mLitem.msgContent%>" data-time="<%=mLitem.publishTime%>" href="javascript:;" class="fl mes-li"><%=mLitem.msgTitle%>(<%=mLitem.publishTime ? new Date(mLitem.publishTime).format('yyyyMMdd HH:mm') : '-'%>)</a>
        </li>
        <% }); %>
        <%if(messageList.length == 0){%>
        <li class="clearfix">
            <a href="javascript:;" class="fl">暂无消息</a>
        </li>
        <%}%>
    </ul>
</div>