.header{height: 90px;}
.header h1{margin:20px 0 0;}
.header h1 a{display: block;}
.header h1 a img{display: block;}
.header .citys{margin: 35px 0 0 6px;cursor: pointer;}
.header .citys input{padding: 0;margin: 0;border: 0;box-shadow: none;width: 88px;color: #069cd9;font-size: 14px;background: transparent;cursor: pointer;}
.header .searchCons{margin: 0 30px 0 0;background: #fff;position: relative}
.header .searchCons .search-img{position: absolute;top: 0; right: 0;height: 38px;width: 38px;background: url('../../images/img01.png') center center no-repeat;cursor: pointer}
.header .searchCons input{display: inline-block;margin: 0;}
.header .searchCons .search{width: 220px;height: 36px;color: #999;box-sizing: border-box;border: 1px solid #ccc;outline: none;border-radius: 0;box-shadow: none;padding-left: 10px;padding-right: 16px;}
.header .searchCons .searchBtn{width: 60px;height: 38px;border: 0;color: #fff;margin-left: -4px;}
.header .left-area{height: 38px;position: relative;line-height: 37px;margin: 24px 0 0 0;}
.header .left-area .noLogin a,.header .haslogin .noLogin span{display: inline-block;color: #069cd9;font-size: 14px;}
.header .left-area .noLogin span{margin: 0 4px;}
.header .left-area .yesLogin span{font-size: 14px;display: inline-block;position: relative;cursor: pointer;}
.header .left-area .yesLogin span.down{min-width: 80px; padding-right: 20px;background: url('../../images/newicon/ic_down.png') right center no-repeat;}
.header .left-area .yesLogin .active span.down{background: url('../../images/newicon/ic_up.png') right center no-repeat;}
.personIcon{
    min-width: 100px;
    padding-right: 10px;
    height: 100%;
    float: left;
    padding-left: 40px;
    background: url("../../images/newicon/ic_username.png") 12px center no-repeat;
}

.yesLogin {
    min-width: 150px;
    height: 36px;
    line-height: 36px;
    background: #f9f9f9;
    margin-top: 2px;
}

.dropMenu{
    position: absolute;
    border: solid 1px #eee;
    background: #fff;
    top: 38px;
    right: 0;
    display: none;
    z-index: 1001;
    width: 148px;
}
.dropMenu li{ white-space:nowrap;height:36px;line-height: 36px;}

.dropMenu a { display:block;color:#888; white-space:nowrap;  font-size:14px;text-align: center;cursor: pointer;}
.dropMenu a:hover{ color:#069cd9; }

.dropMenu li.usercenter{
    background: url("../../images/newicon/ic_usercenter.png") 12px center no-repeat;
}
.dropMenu li.logout{
    background: url("../../images/newicon/ic_logout.png") 12px center no-repeat;
}

.navCons{height: 54px;line-height: 54px;}
.navCons .nav{margin-bottom: 0;}
.navCons .nav li{float:left;font-size: 16px;padding:0 30px;}
.navCons .nav li.active{background: #0683b6;}
.navCons .nav li:hover{background: #0683b6;}
.navCons .nav li a{color: #fff;display: block;}
.navCons .nav li a:hover,.navCons .nav li a:link{background: transparent;color: #fff !important;}
.navCons .nav li a:hover{color: #333;}
.navCons .links{font-size: 16px;}
.navCons .links a{color: #fff; display: inline-block;}
.navCons .links a:first-child{width: 30px;height:31px;vertical-align: -10px;background: url(../../images/img03.png) no-repeat left center;margin-right: 12px; cursor: pointer;}
.navCons .links a:nth-child(2){background: url(../../images/img02.png) no-repeat 10px center;padding: 0 10px 0 44px;cursor: pointer;}
.navCons .links a:nth-child(2):hover{background-color: #0683b6;}
.navCons .links a:nth-child(2).active{background-color: #0683b6;}