<a href="#info" class="myinfo">用户中心</a>
<ul>
    <li>
        <a href="#user" <%= (name == 'userView' ? 'class=active' : '' ) %> >个人中心</a>
        <!--
        <a href="#account" <%= (name == 'accountView' ? 'class=active' : '' ) %> >我的账户</a>
        -->
        <a href="#demand" <%= (name == 'demandView' ? 'class=active' : '' ) %> >我的需求</a>
        <a href="myData.html">我的数据</a>
        <a href="myAPI.html">我的API</a>
        <a href="myServer.html">我的服务</a>
        <a href="myOrder.html">订单管理</a>
        <a href="myPioneer.html">创业园地</a>
    </li>
</ul>