<a href="#info" class="myinfo">用户中心</a>
<ul>
    <li>
        <a href="#user" <%= (name == 'userView'||name == 'userAuthView'||name == 'userPasswordView' ? 'class=active' : '' ) %> ><i></i>个人中心</a>
        <!--
        <a href="#account" <%= (name == 'accountView' ? 'class=active' : '' ) %> >我的账户</a>
        -->
        <a class="demand-left <%= (name == 'demandView'||name == 'apiDemandView'||name == 'serversDemandView'||name == 'followDemandView'||name == 'acceptDemandView' ? 'active' : '') %>" href="#demand" ><i></i>我的需求</a>
        <a class="sources-left <%= (name == 'sourcesView' ? 'active' : '' ) %>" href="#sources" ><i></i>我的数据</a>
        <a class="api-left <%= (name == 'apiView'||name == 'myApiView'||name == 'followView' ? 'active' : '' ) %>" href="#api" ><i></i>我的API</a>
        <a class="server-left <%= (name == 'serverView'||name == 'serverFollowView'||name == 'serverApplyView' ? 'active' : '' ) %>" href="#server"><i></i>我的服务</a>
        <a class="shop-left <%= (name == 'shopView'||name == 'orderView' ? 'active' : '' ) %> " href="#shop"> <i></i>订单管理</a>
        <!--
        <a href="myPioneer.html">创业园地</a>
        -->
    </li>
</ul>