<div class="media">
    <div class="media-left">
        <a href="sources.html?detail/<%= data.id %>">
            <img src="<%- data.reportUrl %>" alt="数据icon" class="media-object">
        </a>
    </div>
    <div class="media-body">
        <a href="sources.html?detail/<%= data.id %>" class="h1"><%- data.name %></a>
        <p class="info<%= data.description.length > 158 ? ' more' : '' %>"><%- data.description %></p>
        <div class="media-body-footer">
            <div class="footerItem"> 更新时间：<span class="keywordType2"><%- new Date(data.updatedTime).format('yyyy-MM-dd') %></span></div>
            <div class="footerItem"> 来源：<span class="keywordType2"><%- data.orgName %></span></div>
            <div class="footerItem"> 费用：<span class="keywordType2"><%- data.chargeTypeDesc %></span></div>
        </div>
    </div>
</div>
