.pass-wrap {
    height: 70px;
    position: relative;
}
.pass-wrap h2 {
    font-size: 14px;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    position: absolute;
    width: 160px;
    text-align: right;
}
.pass-wrap .pass-container {
    border: 1px solid #ccc;
    width: 300px;
    height: 50px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left: 160px;
}
.pass-wrap .pass-container input:hover {
    outline: none;
}
.pass-wrap .pass-container .pass-item {
    width: 50px;
    height: 100%;
    float: left;
    margin: 0;
    box-sizing: border-box;
}
.pass-wrap .pass-container .pass-item:not(:last-child) {
    border-right: 1px solid #ccc;
}
.pass-wrap .pass-container .input-pwd {
    width: 328px;
    height: 100%;
    background-color: transparent;
    background: transparent;
    position: absolute;
    border: none;
    padding: 0px 0 0 20px;
    outline: none;
    font-size: 20px;
    letter-spacing: 36px;
    text-align: left;
    left: 0;
    box-shadow: none;
    z-index: 1;
}
.pass-wrap .tail-pwd {
    position: absolute;
    height: 50px;
    left: 410px;
    z-index: 10;
}
.pass-wrap .tail-pwd .tail-pwd-input {
    width: 50px;
    height: 100%;
    background-color: transparent;
    background: transparent;
    border: none;
    outline: 0;
    padding: 0 0 0 20px;
    font-size: 20px;
    box-shadow: none;
}
.pass-wrap label.error {
    line-height: 30px;
    color: #d82e3a;
    font-size: 14px;
    background: url(../../images/del.png) no-repeat center left;
    padding-left: 32px;
    position: absolute;
    left: 475px;
    top: 10px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .pass-wrap .pass-container .input-pwd{
        zoom: 1.1;
        -webkit-text-stroke-width: 2px;
    }
    .pass-wrap .tail-pwd .tail-pwd-input {
        -webkit-text-stroke-width: 3px;
    }
}
::-ms-clear, ::-ms-reveal{display: none;}