<% if(data && data.title){ %>
<h2><%= data.title %>：</h2>
<% } %>
<div class="pass-container">
    <input type="password" id="<%= data && data.name %>" name="<%= data && data.name %>" class="input-pwd" value="" maxlength="6" />
    <div class="pass-item"></div>
    <div class="pass-item"></div>
    <div class="pass-item"></div>
    <div class="pass-item"></div>
    <div class="pass-item"></div>
    <div class="pass-item"></div>
</div>
<div class="tail-pwd">
    <input type="password" id="<%= data && data.name %>Tail" name="<%= data && data.name %>Tail" class="tail-pwd-input" readonly maxlength="1" />
</div>
<label id="<%= data && data.name %>-error" class="error" for="<%= data && data.name %>"></label>
<label id="<%= data && data.name %>Tail-error" class="error" for="<%= data && data.name %>Tail"></label>