<div class="ReleaseMainCons grid960 clearfix bgWhite boxShadiow">
    <div class="R-top clearfix">
        <div class="fl R-nameCons">
            <h3 class="ft24 mb25"><%= data.name %></h3>
            <p>
                <span class="cor7 mr25 ft14">访问量：<em class="cor7"><%= data.viewCount %></em></span>
                <span class="cor7 mr25 ft14">关注量：<em class="cor7"><%= data.attentionCount %></em></span>
                <span class="cor7 mr25 ft14">下载量：<em class="cor7"><%= data.downloadCount %></em></span>
                <!--<span class="cor7 mr25 ft14">评分：<em class="cor7">4.3</em></span>-->
            </p>
        </div>
        <div class="fr R-shareStarCons">
            <p>
            <!--<span>
                <em></em>
                <em></em>
                <em></em>
                <em></em>
                <em></em>
            </span>
            <span>评分</span>-->
                <span class="attention"><%= data.attentionFlag ? '取消关注':'关注' %></span>
            </p>
            <div class="share">
               
            </div>
        </div>
    </div>



    <div class="R-Cons">
        <p class="titTop bggray ft14 corBlue">数据介绍</p>
        <div class="titTopCons">
            <ul>
                <li class="mb10">
                    <span>描述：</span>
                    <span class="cor7"><%= data.description %></span>
                </li>
                <li class="mb10">
                    <span>数据项：</span>
                    <span class="cor7"><%= data.item %></span>
                </li>
                <li class="mb10">
                    <span>分类：</span>
                    <span class="cor7"><%= data.categoryName %></span>
                </li>
                <li class="mb10">
                    <span>标签：</span>
                    <span class="cor7"><%= data.tagNames %></span>
                </li>
                <!--<li class="mb10">
                    <span>公开属性：</span>
                    <span class="cor7">普通公开</span>
                </li>
                <li class="mb10">
                    <span>更新频率：</span>
                    <span class="cor7">每年</span>
                </li>-->
                <li class="mb10">
                    <span>发布日期：</span>
                    <span class="cor7"><%= (new Date(data.publishDate).toISOString()).slice(0,10) %></span>
                </li>
                <li class="mb10">
                    <span>发布机构：</span>
                    <span class="cor7"><%= data.orgName %></span>
                </li>
                <li class="mb10">
                    <span>所属范围：</span>
                    <span class="cor7"><%= data.scope %></span>
                </li>
                <li class="mb10">
                    <span>对象：</span>
                    <span class="cor7"><%= data.serviceObjectNames %></span>
                </li>
                <li class="mb10">
                    <span>文件大小：</span>
                    <span class="cor7"><%= data.fileSize %>kb</span>
                </li>
                <li class="mb10">
                    <span>附件格式：</span>
                    <span class="cor7"><%= data.fileType %></span>
                </li>
                <li class="mb10">
                    <span>收费类型：</span>
                    <span class="cor7"><%= data.chargeTypeDesc %></span>
                </li>
            </ul>
        </div>
    </div>
    <% if(data.demoFileUri){ %>
    <div class="R-Cons">
        <p class="titTop bggray ft14 corBlue">示例数据</p>
        <div class="titTopCons">
            <a href="<%= data.demoFileUri%>" class="corBlue" target="_blank">示例数据下载</a>
        </div>
    </div>
    <% }; %>
    <div class="R-Cons">
        <p class="titTop bggray ft14 corBlue">数据文件</p>
        <div class="titTopCons  ">
            <%= data.name %>.<%= data.fileType %>
        </div>
        <p class="text-center mb30"><button class="downLoadBtn free">下载</button>
            <button class="downLoadBtn offline" id="offline">线下洽谈申请</button>
        </p>
    </div>
</div>