/*侧导航*/
.leftMenuWrap{margin-right: 5px;}
.leftMenuWrap ul{width: 64px;background: #dcdcdc;margin-top: 12px;}
.leftMenuWrap ul li a,.leftMenuWrap ul li p{text-align: center;height: 100px;display: block;width: 100%;}
.leftMenuWrap ul li span{display: block;color:#069cd9;display: none;margin-top: 60px;}
.leftMenuWrap ul li a.active{border: 1px solid #ccc;box-sizing:border-box;margin-left: -16px;width: 80px;background-color: #fff !important;position: relative;}
.leftMenuWrap ul li a.active span{display: block;z-index: 2;}
.leftMenuWrap ul li a.active:before{content: '';position: absolute;width: 0;height: 0;border-top: 15px solid transparent;/*border-bottom: 15px solid transparent;*/border-right: 15px solid #069cd9;left:0;  top: -16px;}
.leftMenuWrap ul li a.one.active:before{content: '';position: absolute;width: 0;height: 0;border-top: none;border-bottom: 15px solid transparent;border-right: 15px solid #069cd9;left:0;  top: 99px;}

/* 各功能模块覆盖导航栏样式 */
/* 数据 左侧导航栏 */
.opendata li a:first-child{background: url(../../images/sdk01.png) no-repeat center center;}
.opendata li a:nth-child(2){background: url(../../images/Data02.png) no-repeat center center;}
.opendata li a:nth-child(3){background: url(../../images/sdk04.png) no-repeat center center;}
.opendata li a:first-child:hover{background: url(../../images/sdk01_cur.png) no-repeat center center;}
.opendata li a:nth-child(2):hover{background: url(../../images/Data02_cur.png) no-repeat center center;}
.opendata li a:nth-child(3):hover{background: url(../../images/sdk04_cur.png) no-repeat center center;}
.opendata li a.active:first-child{background: url(../../images/sdk01_cur.png) no-repeat center 22px #fff;}
.opendata li a.active:nth-child(2){background: url(../../images/Data02_cur.png) no-repeat center 22px #fff;}
.opendata li a.active:nth-child(3){background: url(../../images/sdk04_cur.png) no-repeat center 22px #fff;}

/* API 左侧导航栏 */
.api li a:first-child{background: url(../../images/icon_5@2x.png) no-repeat center center;}
.api li a:nth-child(2){background: url(../../images/icon_6@2x.png) no-repeat center center;}
.api li a:nth-child(3){background: url(../../images/icon_7@2x.png) no-repeat center center;}
.api li a:first-child:hover{background: url(../../images/icon_5_1@2x.png) no-repeat center center;}
.api li a:nth-child(2):hover{background: url(../../images/icon_6_1@2x.png) no-repeat center center;}
.api li a:nth-child(3):hover{background: url(../../images/icon_7_1@2x.png) no-repeat center center;}
.api li a.active:first-child{background: #fff url(../../images/icon_5_1@2x.png) no-repeat center 22px;}
.api li a.active:nth-child(2){background: #fff url(../../images/icon_6_1@2x.png) no-repeat center 22px;}
.api li a.active:nth-child(3){background: #fff url(../../images/icon_7_1@2x.png) no-repeat center 22px;}

/* 创业园地 左侧导航栏 */
.pioneer li a:first-child{background: url(../../images/icon_3@2x.png) no-repeat center center;}
.pioneer li a:nth-child(2){background: url(../../images/icon_1@2x.png) no-repeat center center;}
.pioneer li a:nth-child(3){background: url(../../images/icon_4@2x.png) no-repeat center center;}
.pioneer li a:nth-child(4){background: url(../../images/icon_2@2x.png) no-repeat center center;}
.pioneer li a:nth-child(5){background: url(../../images/icon_10@2x.png) no-repeat center center;}
.pioneer li a:first-child:hover{background: url(../../images/icon_3_1@2x.png) no-repeat center center;}
.pioneer li a:nth-child(2):hover{background: url(../../images/icon_1_1@2x.png) no-repeat center center;}
.pioneer li a:nth-child(3):hover{background: url(../../images/icon_4_1@2x.png) no-repeat center center;}
.pioneer li a:nth-child(4):hover{background: url(../../images/icon_2_1@2x.png) no-repeat center center;}
.pioneer li a:nth-child(5):hover{background: url(../../images/icon_10_1@2x.png) no-repeat center center;}
.pioneer li a.active:first-child{background: #fff url(../../images/icon_3_1@2x.png) center 22px no-repeat;}
.pioneer li a.active:nth-child(2){background: #fff url(../../images/icon_1_1@2x.png) no-repeat center 22px;}
.pioneer li a.active:nth-child(3){background: url(../../images/icon_4_1@2x.png) no-repeat center 22px #fff;}
.pioneer li a.active:nth-child(4){background: url(../../images/icon_2_1@2x.png) no-repeat center 22px #fff;}
.pioneer li a.active:nth-child(5){background: url(../../images/icon_10_1@2x.png) no-repeat center 22px #fff;}

/*需求定制 左侧导航栏 */
.demand li a:first-child{background: url(../../images/icon_9@2x.png) no-repeat center center;}
.demand li a:nth-child(2){background: url(../../images/sdk02.png) no-repeat center center;}
.demand li a:nth-child(3){background: url(../../images/sdk03.png) no-repeat center center;}
.demand li a:nth-child(4){background: url(../../images/sdk04.png) no-repeat center center;}
.demand li a:nth-child(5){background: url(../../images/sdk05.png) no-repeat center center;}
.demand li a:first-child:hover{background: url(../../images/icon_9_1@2x.png) no-repeat center center;}
.demand li a:nth-child(2):hover{background: url(../../images/sdk02_cur.png) no-repeat center center;}
.demand li a:nth-child(3):hover{background: url(../../images/sdk03_cur.png) no-repeat center center;}
.demand li a:nth-child(4):hover{background: url(../../images/sdk04_cur.png) no-repeat center center;}
.demand li a:nth-child(5):hover{background: url(../../images/sdk05_cur.png) no-repeat center center;}
.demand li a.active:first-child{background: #fff url(../../images/icon_9_1@2x.png) no-repeat center 22px;}
.demand li a.active:nth-child(2){background: #fff url(../../images/sdk02_cur.png) no-repeat center 22px;}
.demand li a.active:nth-child(3){background: #fff url(../../images/sdk03_cur.png) no-repeat center 22px;}
.demand li a.active:nth-child(4){background: #fff url(../../images/sdk04_cur.png) no-repeat center 22px;}
.demand li a.active:nth-child(5){background: #fff url(../../images/sdk05_cur.png) no-repeat center 22px;}

/* 微服务 左侧导航栏 */
.services li a:first-child{background: url(../../images/sdk05.png) no-repeat center center;}

.services li a:first-child:hover{background: url(../../images/sdk05_cur.png) no-repeat center center;}

.services li a.active:first-child{background: url(../../images/sdk05_cur.png) no-repeat center 22px #fff;}
