.index_banner{
	width:100%;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	overflow:hidden;
}	

.carousel-indicators li{
	display:inline-block;
	width:20px;
	height:8px;
	margin:1px;
	border-radius:0px;
	text-indent:-999px;
	cursor:pointer;
	background-color:#000\9;
	background-color:rgba(0,0,0,0);
	border:1px solid #fff;
	
	}
.carousel-indicators .active{
	display:inline-block;
	width:20x;
	height:8px;
	margin:0;
	background-color:#fff;
	}
.index_con1{
	width:100%;
	height:460px;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	background:#fff;
	overflow:hidden;
}
.index_con1_body{
	width:80%;
	height:460px;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	overflow:hidden;
	padding:80px 0px;
}
.index_con1_mark{
	width:100%;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	overflow:hidden;
}
.index_con1_span{
	font-size:36px;
}
.index_con1_p{
	font-size:16px;
	color:#666666;
	padding:30px 0px;
}
.index_con1_a,.index_con1_a:hover{
	text-decoration:none;
	color:#666;
	line-height:40px;
}
.index_con2{
	width:100%;
	height:460px;
	background:#e8ebec;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
}
.index_con3{
	width:100%;
	height:460px;
	background:#fff;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
}
.index_con2_body{
	width:80%;
	height:460px;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
}
.index_con2_body_partone{
	width:40%;
    height:460PX;
	padding-top:80px;
}
.index_con2_body_span{
	font-size:36px;
	text-align:left;
	display:block;
}
.index_con2_body_font{
	color:#666;
	text-align:left;
	line-height:25px;
	margin-top:30px;
}
.index_con2_body_parttwo{
	width:60%;
	
	height:460PX;
}
.index_con2_img{
	width:100%;
	height:100%;
}
.index_con2_body_font ul{
	margin-left:25px;
}
.index_con2_body_font ul li{
	position:relative;
	color:#666;
	
}
.index_con2_body_font ul li:before{
	content:'';
	display:inline-block;
	height:5px;
	width:5px;
	border-radius:50%;
	background:#666666;
	position:absolute;
	left:-4%;
	top:40%;
}
.index_bottom{
	width:100%;
	height:420px;
	background:url(../images/bottom_bg.png) no-repeat top center;
	background-size:100% 100%;
	overflow:hidden;
}
.index_bottom_width{
	width:80%;
	height:420px;
	overflow:hidden;
	margin:0 auto;
	padding:0 auto;
}
.index_bottom_width_span{
	text-align:center;
	display:block;
	margin:70px 0px;
	color:#fff;
	font-size:36px;
}
.index_bottom_width_table{
	margin:0 auto;
	padding:0 auto;
	text-align:center;
}
.index_name{
	width:320px;
	height:47px;
	line-height:47px;
	background:#fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	outline:none;
	border:0 none;
	padding:0px 5px;
	margin-right:10px;
	font-size:16px;
}
.index_sub{
	width:116px;
	height:47px;
	background:#3d95e8;
	color:#fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	outline:none;
	border:1px solid #fff;
	font-size:16px;
}