<div id="dashboardAll" class="R-topList clearfix mb20">
    <div class="fl bgWhite R-cons clearfix">
        <img src="../../../images/img15.png" alt="" class="fl block mr16">
        <p class="fl">
            <span class="block ft16 corOrange">--</span>
            <!--<a href="../message.html" class="block corBlue message">消息</a>-->
            <a href="#userAuth" class="block corBlue unrealName">未认证</a>
            <span class="bonus">任务奖励</span>
        </p>
    </div>
    <div class="fl bgWhite R-cons clearfix user-cost">
        <img src="../../../images/icon03.png" alt="" class="fl block mr16">
        <p class="fl">
            <span class="block">账户余额</span>
            <span class="block corBlue ft18 mt10">--<em class="ft12 corBlue unit">元</em></span>
            <button class="btn-recharge">充值</button>
        </p>
    </div>
    <div class="fl bgWhite R-cons clearfix user-cost">
        <img src="../../../images/icon02.png" alt="" class="fl block mr16">
        <p class="fl tc">
            <span class="block mt16">累计消费金额</span>
            <span class="block corBlue ft18 mt14">0.0<em class="ft12 corBlue unit">元</em></span>
        </p>
    </div>
    <div class="fr bgWhite R-cons clearfix pt12 user-ser">
        <div class="fl RCconsList">
            <p>
                <span>关注数据：</span>
                <span><em class="corOrange ft18">-</em>个</span>
            </p>
            <p>
                <span>关注API：</span>
                <span><em class="corOrange ft18">-</em>个</span>
            </p>
            <p>
                <span>关注服务：</span>
                <span><em class="corOrange ft18">-</em>个</span>
            </p>
        </div>
        <div class="fr RCconsListBtn">
            <p>申请API：<em class="corOrange ft18">-</em>个</p>
            <a class="corff bgBlue mb8 mt5" href="#">申请服务</a>
            <a class="corff bgBlue" target="_blank" href="./services.html#publish">发布服务</a>
        </div>
    </div>
    <div class="fl bgWhite R-cons clearfix user-demand">
        <p class="fl">
            <span class="block ft18">我的需求</span>
            <span class="block mt30 pl60">
                数据供给需求：<a class="corBlue ft18 mt14">-</a><span class="mr10 ml5">个</span>
                API开发需求：<a class="corBlue ft18 mt14">-</a><span class="mr10 ml5">个</span>
                服务开发需求：<a class="corBlue ft18 mt14">-</a><span class="mr10 ml5">个</span>
            </span>
        </p>
    </div>
    <div class="fr bgWhite R-cons clearfix user-ser">
        <p class="fl">
            <span class="block ft18">最新上架</span>
            <span class="block mt30">
                数据：<a class="corBlue ft18 mt14">-</a><span class="mr10 ml5">个</span>
                API：<a class="corBlue ft18 mt14">-</a><span class="mr10 ml5">个</span>
                服务：<a class="corBlue ft18 mt14">-</a><span class="mr10 ml5">个</span>
            </span>
        </p>
    </div>
</div>
<div class="R-myServer common mb25">
    <div class="tit posRE">
        <h2 class="ft16 cor5">我申请的API</h2>
        <a href="#myApi" class="posAB more ft14 block">更多&gt;&gt;</a>
    </div>
    <div class="mainDatas user-center-api-list">
        <ul class="clearfix api-data-list">
            <p class="tc">暂无申请任何API</p>
        </ul>
    </div>
</div>
<div class="R-myAddServer common">
    <div class="tit posRE">
        <h2 class="ft16 cor5">我关注的服务</h2>
        <a href="#serverFollow" class="posAB more ft14 block">更多&gt;&gt;</a>
    </div>
    <div class="R-myServerList mt16">
        <ul class="clearfix server-data-list">
            <p class="tc">暂无关注任何服务</p>
        </ul>
    </div>
</div>
<script id="userDefault" type="template">
    <div class="fl bgWhite R-cons clearfix">
        <img src="../../../images/img15.png" alt="" class="fl block mr16">
        <p class="fl">
            <span class="block ft16 corOrange user-name-area" title="<%=res.user.account%>"><%=res.user.account%></span>
            <!--<a href="../message.html" class="block corBlue message">消息</a>-->
            <%if(res.user.certificationInfo.status == 'CERTIFICATED_PERSON'|| res.user.certificationInfo.status == 'CERTIFICATED_ENTERPRISE' || res.user.certificationInfo.status == 'CERTIFICATED_PARTNER'){%>
                <a href="#userAuth" class="block realName">已认证</a>
            <%}else if(res.user.certificationInfo.status == 'P2E_PROCESSING'|| res.user.certificationInfo.status == 'ENTERPRISE_PROCESSING'){%>
                <a href="#userAuth" class="block realNamenow">认证中</a>
            <%}else{%>
                <a href="#userAuth" class="block corBlue unrealName">立刻认证</a>
            <%}%>
            <span class="bonus">任务奖励</span>
        </p>
    </div>
    <div class="fl bgWhite R-cons clearfix user-cost">
        <img src="../../../images/icon03.png" alt="" class="fl block mr16">
        <p class="fl">
            <span class="block">账户余额</span>
            <span class="block corBlue ft18 mt10" id="balance"><span id="balanceNum"></span><em class="ft12 corBlue unit">元</em></span>
            <button class="btn-recharge">充值</button>
        </p>
    </div>
    <div class="fl bgWhite R-cons clearfix user-cost">
        <img src="../../../images/icon02.png" alt="" class="fl block mr16">
        <p class="fl tc">
            <span class="block mt16">累计消费金额</span>
            <span class="block corBlue ft18 mt14"><%=res.cash%><em class="ft12 corBlue unit">元</em></span>
        </p>
    </div>
    <div class="fr bgWhite R-cons clearfix pt12 user-ser">
        <div class="fl RCconsList">
            <p>
                <span>关注数据：</span>
                <span><em class="corOrange ft18"><%=res.focusData%></em>个</span>
            </p>
            <p>
                <span>关注API：</span>
                <span><em class="corOrange ft18"><%=res.focusApi%></em>个</span>
            </p>
            <p>
                <span>关注服务：</span>
                <span><em class="corOrange ft18"><%=res.focusApp%></em>个</span>
            </p>
        </div>
        <div class="fr RCconsListBtn">
            <p>申请API：<em class="corOrange ft18"><%=res.applyApi%></em>个</p>
            <a class="corff bgBlue mb8 mt5" href="./services.html">申请服务</a>
            <%if(res.user.userType != 'REGISTER'){%>
            <a class="corff bgBlue" target="_blank" href="./services.html#publish">发布服务</a>
            <%}%>
        </div>
    </div>
    <div class="fl bgWhite R-cons clearfix user-demand">
        <p class="fl">
            <span class="block ft18">我的需求</span>
            <span class="block mt30 pl60">
                数据供给需求：<a class="corBlue ft18 mt14" href="userInfo.html#demand" id="dataDemandCount">-</a><span class="mr10 ml5">个</span>
                API开发需求：<a class="corBlue ft18 mt14" href="userInfo.html#apiDemand" id="apiDemandCount">-</a><span class="mr10 ml5">个</span>
                服务开发需求：<a class="corBlue ft18 mt14" href="userInfo.html#serversDemand" id="serviceDemandCount">-</a><span class="mr10 ml5">个</span>
            </span>
        </p>
        <a class="corff bgBlue fr btn-publish-demand" href="demand.html">发布需求</a>
    </div>
    <div class="fr bgWhite R-cons clearfix user-ser">
        <p class="fl">
            <span class="block ft18">最新上架</span>
            <span class="block mt30">
                数据：<a class="corBlue ft18 mt14" id="latestData" href="sources.html#catalog/orderBy-1">-</a><span class="mr10 ml5">个</span>
                API：<a class="corBlue ft18 mt14" id="latestAPI" href="api.html#data/orderBy-1">-</a><span class="mr10 ml5">个</span>
                服务：<a class="corBlue ft18 mt14" id="latestServer" href="services.html#service/orderBy-1">-</a><span class="mr10 ml5">个</span>
            </span>
        </p>
    </div>
</script>
<script id="pointRule" type="template">
<ul class="point-rule-tip">
    <% data && data.list.forEach(function(item) { %>
        <li><%= item.description %></li>
    <% }) %>
</ul>
</script>