<div class="M-mainInfo clearfix bgWhite my-api-list">
    <div class="tab-title">
        <a href="../startup.html#createRoadShow">发布新路演</a>
    </div>
    <div class="M-downCons">
        <div class="D_table M-table">
            <table>
                <thead>
                <tr>
                    <th width="20%">路演名称</th>
                    <th width="10%">行业领域</th>
                    <th width="10%">融资额度</th>
                    <th width="10%">项目阶段</th>
                    <th width="10%">发布日期</th>
                    <th width="10%">状态</th>
                    <th width="10%">关注总次数</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="8">暂无数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="page-area" id="myInPage"></div>
    </div>
</div>
<script id="incubatorTemps" type="template">
    <% _.each(publishRoadShowList, function (paitem) { %>
    <tr data-id="<%=paitem.id%>">
        <td>
            <a target="_blank" href="./startup.html#roadShowDes/<%=paitem.id%>"><%=paitem.roadName || '-'%></a>
        </td>
        <td><%=paitem.tradeField%></td>
        <td><%=paitem.financingLimit%></td>
        <td><%=paitem.projectStage%></td>
        <td><%=paitem.publishTime ? new Date(paitem.publishTime).format('yyyy-MM-dd') : '-'%></td>
        <td><%=statusMes[paitem.status]%></td>
        <td><%=paitem.attentionCount%></td>
        <td>
            <%if(paitem.status == '0'){%>
                <a href="javascript:;" class="closeRoadShow">关闭</a>
            <%}else if(paitem.status == '2'){%>
                <a href="./startup.html#createRoadShow/<%=paitem.id%>" class="displayRoadShow">查看</a>
            <%}else if(paitem.status == '3'){%>
                <a href="javascript:;" class="displayRes">查看</a>
            <%}else if(paitem.status == '5'){%>
                <a href="./startup.html#createRoadShow/<%=paitem.id%>" class="displayRoadShow">查看</a>
            <%}%>
        </td>
    </tr>
    <% }); %>
    <%if(publishRoadShowList.length == 0){%>
    <tr>
        <td colspan="8">暂无数据</td>
    </tr>
    <%}%>
</script>