<div class="containerWrap">
    <div class="tabbable bgWhite boxShadiow">
        <% if(data) { %>
        <div class="slideBanner clearfix">
            <div class="mleftCons">
                <div class="serverInfos mb35 clearfix">
                    <div class="fl appImgCons">
                            <img class="appImg" src="<%- data.imageUri %>" alt="服务图标">
                        <div class="viewerNums clearfix">
                            <p>访问量：<span><%- data.viewCount %></span></p>
                        </div>
                    </div>
                    <div class="appInfoCons fl posRE">
                        <div class="top mb10 clearfix">
                            <h2 class="fl mr20"><%- data.name %></h2>
                            <div class="fl mr20">
                                <span><%- (data.tagNames).replace(',/g',' ') %></span>
                            </div>
                            <div class="fl">
                                <span>服务分类：<em><%- data.categoryName %></em></span>
                            </div>
                        </div>
                        <div class="down">
                            <div class="left">
                                <p class="mb15 line22">
                                    <span class="mr10">服务状态：<em><%- data.statusDesc %></em></span>
                                    <span class="mr10">服务商：<em><%- data.providerName %></em></span>
                                    <span>服务方式：<em><%- data.serviceType %></em></span>
                                    <!--<span class="mr25">版本号：<em>7.0.1</em></span>-->
                                </p>
                                <p class="mb15">
                                    <span class="mr10">接入URL：
                                        <!-- <% if(data.uri.indexOf('http') < 0){ %>
                                        <a href="http://<%- data.uri %>" target="_blank">
                                            <% }else{ %>
                                            <a href="<%- data.uri %>" target="_blank">
                                                <% }; %>
                                            <%- data.uri %></a> -->
                                        <span class="url-text"><%- data.uri %></span>
                                    </span>
                                    <span class="mr25">更新时间：<em><%- (new Date(data.updatedTime).toISOString()).slice(0,10) %></em></span>
                                </p>
                            </div>
                            <p class="mb20 line20">
                                <span>服务简介：<em><%- data.description %></em></span>
                            </p>
                        </div>
                        <%if(data.status == '0'){%>
                        <div>
                            <button id="applyBtn">申请</button>
                            <button id="attention" class="bgOrange"><%- data.attentionFlag ? '取消关注' : '关注'%></button>
                            <button id="offlineBtn" class="fr" style="margin-right: 0;">线下洽谈申请</button>
                        </div>
                        <%}%>
                        <!-- 分享 -->
                        <div class="share posAB">
                            <a href="#" id="sahreWeixin"></a>
                            <a href="#" id="sahreQQ"></a>
                            <a href="#" id="sahreWeibo"></a>
                        </div>
                        <!-- 费用 -->
                        <div class="useMoney posAB">
                            <span class="red"><%- data.chargeTypeDesc %><em></em></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="R-Cons">
                <p class="titTop bggray ft14 ">
                    <a class="corBlue mr35" data-index="0">详情信息</a>
                    <a data-index="1">版本特性</a>
                </p>
                
                <div class="titTopCons picScroll-left">
                    <% if(data.demoImage1 || data.demoImage2 || data.demoImage3){ %>
                    <a class="next" style="display: none;"></a>
                    <a class="prev" style="display: none;"></a>
                    <div class="bd">
                        <ul class="picList">
                            <% if( data.demoImage1){ %>
                            <li>
                                <div class="pic"><img src="<%- data.demoImage1 %>" alt="示例图片1"/></div>
                            </li>
                            <% }; %>
                            <% if( data.demoImage2){ %>
                            <li>
                                <div class="pic"><img src="<%- data.demoImage2 %>" alt="示例图片2"/></div>
                            </li>
                            <% }; %>
                            <% if( data.demoImage3){ %>
                            <li>
                                <div class="pic"><img src="<%- data.demoImage3 %>" alt="示例图片3"/></div>
                            </li>
                            <% }; %>
                        </ul>
                    </div>
                    <% } %>
                </div>
                <div class="titTopCons picScroll-left hide">
                    <div class="pl60 text-left">
                        <%= data.versionFeatures %>
                    </div>
                </div>
            </div>
            
        </div>
        <% }else{ %>
        <div class="slideBanner clearfix">
        <p class="ft22 pl60">此服务未上线</p>
        </div>
        <% } %>
    </div>
</div>