<div class="ns-contentComponent">
    <div class="ns-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="sources.html">交易广场</a></li>
                        <li><a href="sources.html">数据报告</a></li>
                        <li class="active"><%= data.name %></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="col-md-9 ns-document bgWhite">
                <div class="ns-documentdHead">
                    <h1><%= data.name %><span class="text-large text-orange" style="margin-left: 30px"><%= data.chargeTypeDesc  %></span></h1>
                    <h3>来源：<%= data.orgName  %>&nbsp;&nbsp;&nbsp;<%= new Date(data.updatedTime).format('yyyy-MM-dd')  %></h3>
                    <% if(!data.attentionFlag){ %>
                    <button type="button" id="follow" class="btn btn-follow">
                    关注
                    </button>
                    <% }else{ %>
                    <button type="button" id="follow" class="btn btn-follow">
                    取消关注
                    </button>
                    <% } %>
                </div>
                <div class="ns-documentContent">
                    <div class="ns-introduction">
                        报告简介：
                    </div>
                    <p style="text-indent: 2em;"><%= data.description %></p>
                    <div class="ns-introduction">
                        目录：
                    </div>
                    <p>
                        <%= data.catelog %>
                    </p>
                    <div class="ns-introduction">
                        图表目录：
                    </div>
                    <p>
                        <%= data.picCatelog %>
                    </p>
                </div>
                <div class="ns-documentFoot">附件下载：<a href="javascript:;" class="downLoadBtn"><strong><%= data.name %></strong></a></div>
            </div>
            <div class="col-md-3" id="hotDataReport">
            </div>
        </div>
    </div>
</div>