
.api-content {
    min-height: 500px;
}
.mainSelDatas{margin-top: 15px;}
.DataSelList{border: 1px solid #ccc;margin-bottom: 24px;padding: 0 16px;}
.mainSelDatas .DataSelList li{padding: 14px 0;border-bottom: 1px dashed #ccc;position: relative;}
.mainSelDatas .DataSelList li:last-child{border: 0;}

.data-theme{
    min-height: 170px;
}
.search-data-result span.corBlue{margin-right: 60px;}
.search-data-result span.update-time{margin-right: 0}
.minHeight100{min-height: 100px;}
/*数据模型*/
.rightMenuWrap{width: 916px;margin-left: 2px;padding: 24px 16px;}
.ChoiceList{width: 100%;height: auto;border: 1px solid #ccc;margin: 16px 0 24px;}
.mainDatas{margin-top: 20px;margin-bottom: 12px}
.mainDatas .DataList li{width: 145px;;height: 150px;border-radius: 10px;border: 1px solid #ccc;overflow: hidden;float: left;margin: 0 35px 18px 0;margin-right: 29px\9;}
.mainDatas .DataList li a{display: block;width: 100%;height: 100%;}
.mainDatas .DataList li .centers{text-align: center;}
.mainDatas .DataList li .centers img{display: inline-block;margin: 20px 0 4px;height: 55px;}
.mainDatas .DataList li .centers span{display: block;margin: 10px 0 ;font-size: 14px;}
.mainDatas .DataList li:nth-child(5n){margin-right: 0;}
/*筛选条件*/

/*选择日期*/
.commonDataSel .commonData input{cursor: pointer; outline: none;margin: 0;height:26px;border:1px solid #ccc;box-shadow: none;display: inline-block;padding: 0 10px;width: 104px;border-radius: 0;vertical-align: -1px;box-sizing:border-box;background: url(../../images/img13.png) no-repeat 84px center #fff;}
.commonDataSel .sl-search{width: 183px;position: inherit;margin: 0 0 0 10px;}
.commonDataSel .sl-search input[type="text"]{width: 126px;}
.mainSelDatas{margin-top: 15px;}
.DataSelList{border: 1px solid #ccc;margin-bottom: 24px;}
.mainSelDatas .DataSelList li{padding: 14px 25px;border-bottom: 1px solid #ccc;}
.mainSelDatas .DataSelList li:last-child{border: 0;}

.ConditionList{right: 0;top: 0;margin-top: 8px;}
.ConditionList a{display: inline-block;margin-right: 10px;}
.ConditionList a:hover,.ConditionList a:link{color: #444;}
.ConditionList a.active{color: #069cd9 !important;}
.ConditionList a:not(:last-child){margin-right: 26px;}

/*下部表格**/
.table-h{margin-top: 20px}
.table-h tbody tr td:nth-child(2n){color: #069cd9 !important;}
.DataSelList{border: 1px solid #ccc;margin-bottom: 24px;}

.R-Cons .titTopCons ul li span{display: inline-block;font-size: 14px;}
.R-Cons .titTopCons ul li span:first-child{width: 84px;text-align: right;margin-right: 2px;}
.R-Cons .titTopCons ul li span:last-child{width: 790px;}
.R-Cons .titTopCons ul li span{display: inline-block;font-size: 14px;line-height: 24px;}
.R-Cons .titTopCons ul li span:first-child{width: 84px;text-align: right;margin-right: 2px;vertical-align: top;}
.R-Cons .titTopCons ul li span:last-child{width: 790px;}
.R-Cons .titTopCons a{padding: 20px 0;display: inline-block;}

.showToggle{
    padding-right: 20px;
    background: url("../../images/down.png") right center no-repeat;
    cursor: pointer;
}
.showToggle.active{
    background: url("../../images/up.png") right center no-repeat;
}

/*table*/
.D_table table{width: 100%;text-align: center;background: #fff;border: 1px solid #ccc;}
.D_table table tr th{background: #069cd9;font-size: 14px;height: 36px;border-bottom: 1px solid #fff;line-height: 37px;font-weight: 600;color: #fff;}
.D_table table tbody tr{border-bottom: 1px solid #ccc;}
.D_table table tbody tr td{font-size: 14px;padding: 10px 0;line-height: 24px;vertical-align:middle;}
.D_table table tbody tr:last-child td{border: 0;}
.D_table table tbody tr td a{color: #113c6a;}

/*状态*/
.status{right: 0;top: 0;}
.downLoadCons{right: -16px;top: 50%;margin-top: -43px;height: 86px;border-left: 1px solid #ccc;width: 166px;text-align: center;background: #fff;padding-top: 3px;}
.downLoadCons p em{display: inline-block;margin: 0 5px;}
.downLoadCons p{margin-bottom: 5px;}
.downLoadCons button{background: #fff;outline: none;width: 86px;height: 34px;border-radius: 8px;margin-top: 8px;}
.downLoadCons button.downLoadBtn{border: 1px solid #069cd9;color: #069cd9;}
.downLoadCons button.ApiBtn{border: 1px solid #ef6f08;color: #ef6f08;}
.pr10 {
    padding-right: 10px !important;
    border-right: 1px solid #ccc;
}
span.charge,span.free {
    color: #ff4200;
    font-size: 18px;
    /*margin-top: -5px;*/
    margin-right: 0;
}
.openDataReleaseSearch {
    min-height: 250px;
}
/*详情*/
.R-top{padding: 40px 28px 24px;}
.R-top h3 em{border: 1px solid #ef6f08;padding: 3px 6px;border-radius: 3px;margin-left: 26px;vertical-align: 3px;}
.R-shareStarCons p:first-child{text-align: right;padding-right: 8px;}
span.attention{padding: 5px 10px;height: 20px;text-align: center;line-height: 20px;background: #ff791f;color: #fff;vertical-align: 2px;display: inline-block;margin-left: 4px;cursor: pointer;}
span.attention.haves-attention{background: #b7b7b7;}
.R-shareStarCons .share{text-align: right;margin-top: 20px;}
.R-Cons .titTop{height: 54px;line-height: 54px;padding-left: 34px;}
.R-Cons .titTopCons{padding: 26px 40px;}
.downLoadBtn{
    width: 86px;
    height: 34px;
    border: 1px solid #069cd9;
    color: #069cd9;
    background: #fff;
    border-radius: 8px;
    outline: none;
}
.downLoadBtn.offline {
    border-radius: 5px;
    border: solid 1px #8b8b8b;
    background: #fff;
    color: #8a8a8a;
}

/*分享*/
.share{right: 0;top: 0;}
.share a{display: inline-block;width: 30px;height: 22px;margin-right: 8px;}

.R-Cons .titTopCons ul li span{display: inline-block;font-size: 14px;}
.R-Cons .titTopCons ul li span:first-child{width: 84px;text-align: right;margin-right: 2px;}
.R-Cons .titTopCons ul li span:last-child{width: 790px;}
/*开放数据筛选*/
.R-Cons .titTopCons ul li span{display: inline-block;font-size: 14px;}
.R-Cons .titTopCons ul li span:first-child{width: 84px;text-align: right;margin-right: 2px;}
.R-Cons .titTopCons ul li span:last-child{width: 790px;}
.R-Cons .titTopCons ul li span{display: inline-block;font-size: 14px;line-height: 24px;}
.R-Cons .titTopCons ul li span:first-child{width: 84px;text-align: right;margin-right: 2px;vertical-align: top;}
.R-Cons .titTopCons ul li span:last-child{width: 790px;}
.R-Cons .titTopCons a{padding: 20px 0;display: inline-block;}

/*开放数据 开放目录*/
.mainSelDatas{margin-top: 15px;}
.DataSelList{border: 1px solid #ccc;margin-bottom: 24px;padding: 16px 16px;}
.mainSelDatas .DataSelList li{padding: 14px 0;border-bottom: 1px dashed #ccc;position: relative;}
.DataSelList li:first-child {padding-top: 0;}
.mainSelDatas .DataSelList li:last-child{border: 0;}

/*公共 左边样式*/
.common .tit{position: relative; height: 24px;line-height: 24px;padding-left: 16px;}
.common .tit:before{content: '';position: absolute;width: 5px;height: 24px;background: #069cd9;left: 0;top: 0;}

.apply-box {
    padding: 5px 30px;
}
.apply-box .D_table {
    min-height: 280px;
}
.apply-box .D_table table tr td input[type='number'],
.layer-table .D_table table tr td input[type='number']{
    width: 40px;
}
.apply-box,.layer-table{
    padding: 5px 30px;
}
.apply-box p label,.layer-table p label{
    float: left;
}
.apply-box p label a,.layer-table p label a{
    color: #00aff6;
}
.apply-box p span, .layer-table p span{
    font-size: 16px;
    float: right;
}
/* 线下洽谈弹层 */
.offline-box,.orderDiv {padding: 20px 30px;font-size: 14px;}
.offline-box label,.orderDiv label{
    float: left;
    padding: 5px 0;
}
.offline-box label span,
.orderDiv label span{
    display: block;
    float: left;
    width: 100px;
    line-height: 26px;
}
.offline-box label textarea,
.orderDiv label textarea{
    width: 270px;
    padding: 4px 6px;
    height: 70px;
    float: left;
}
.offline-box label input,
.orderDiv label input{
    width: 270px;
}
/*button .offline-btn {
    border-radius: 5px;
    border: solid 1px #8b8b8b;
    background: #fff;
    color: #8a8a8a;
}*/

.offline-box form label.error {
    color: #e66c6b;
    padding: 0;
    margin-left: 110px;
}
