<% _.each(data, function(item, index){
if(index<=2){%>
    <li>
        <div class="wd660">
            <p class="posRE mb20 clearfix">
                <a href="?detail/<%= item.id %>" class="corOrange ft16 mr72 fl block"><%= item.name %></a>
               <!-- <span class="fr block">评分：<em class="corOrange">4.3</em></span>-->
                <span class="free fr"><%= item.chargeTypeDesc %></span>
            </p>
            <p  class="cor4 mb20 line22">数据描述：<span><%= item.description %></span></p>
            <p class="posRE search-data-result clearfix">
                <span>发布机构：</span>
                <span class="corBlue" attrId="<%= item.orgId %>" ><%= item.orgName %></span>
                <span>开放格式：</span>
                <span class="corBlue"><%= item.fileType %></span>
                <span>上次更新于：</span>
                <span class="corBlue update-time"><%= (new Date(item.updatedTime).toISOString()).slice(0,10) %></span>
            </p>
        </div>
        <div class="posAB downLoadCons">
            <p class="ft12">下载<em class="corOrange ft16"><%= item.downloadCount %></em>次</p>
            <p class="ft12">访问<em class="corOrange ft16"><%= item.viewCount %></em>次</p>
            <button class="downLoadBtn" data-index="<%= index %>">下载</button>
        </div>
    </li>
<% }}); %>
