<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>广州数聚-<%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="window-target" content="_top">
    <meta name="robots" content="none">
    <meta http-equiv="Pragma" content="no-cache">
    <link href="/favicon.ico" rel="shortcut icon">
</head>
<body data-type="<%= htmlWebpackPlugin.options.title == '首页' ? 'index' : '' %>">
    <div class="wrapper">
        <!-- 公共区域 -->
        <div id="headSection">

        </div>
        <!-- 内容部分 -->
        <div id="content" class="api-content demand-content pay-content pioneering-content containerWrap clearfix">
            
        </div>
        <!-- 公共底部 -->
        <div id="footSection">

        </div>
    </div>
</body>
</html>