<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>神州数云-<%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="window-target" content="_top">
    <meta name="robots" content="none">
    <meta name="keywords" content="大数据成果转化、API、接口、数据接口、数据创客、众创、大数据实训、创业、双创"/>
    <meta name="description" content="大数据成果转化、API、接口、数据接口、数据创客、众创、大数据实训、创业、双创"/>

    <link href="./favicon.ico" rel="shortcut icon">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?a2355a27eff5dbb39b362946703e450b";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <div id="app">
        
    </div>
</body>
</html>