<div class="ReleaseMainCons grid1190 clearfix bgWhite boxShadiow des">
    <!-- top -->
<div class="ReleaseTit w100">
    <p >查看服务开发需求</p>
</div>
    <!-- down -->
    <form class="ReleaseInputs" onsubmit="return false;">
        <div class="clearfix ReleaseList">
            <p class="fl R_left">任务名称：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.name %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">任务描述：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.description %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">任务要求：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.required %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">任务金额：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.money %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">截止日期：</p>
            <div class="fl R_right">
                <p>
                    <%= data && new Date(data.endTime).format('yyyy-MM-dd') %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">主联系人信息：</p>
            <div class="fl R_right">
                <p>
                   <%= data && data.contactUsername %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">主联系人电话：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.contactPhone %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">备用联系人：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.spareContactname %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">备用联系人电话：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.spareContactphone %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">分类：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.categoryName %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left wd160">是否需要平台撮合交易：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.matchmakeTradeName %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">需求用户：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.reqUser %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">邮箱：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.contactEmail %>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">地址：</p>
            <div class="fl R_right">
                <p>
                    <%= data && data.contactAddress %>
                </p>
            </div>
        </div>
    </form>
</div>