<% if(data && data.length > 0){ %>
    <% data && data.forEach(function(item) { %>
    <div class="ns-list-item">
        <div class="media">
            <div class="media-body">
                <a href="#service/detail/<%= item.id %>" class="h1"><%= item.name %></a>
                <p class="info">任务金额：<%= item.money %></p>
                <p class="info">任务描述：<%= item.description %></p>
                <div class="media-body-footer">
                    <div class="footerItem">需求用户：<span class="keywordType2"><%= item.contactUsername %></span></div>
                    <div class="footerItem">发布日期：<span class="keywordType2"><%= new Date(item.publishTime).format('yyyy-MM-dd') %></span></div>
                    <div class="footerItem">截止日期：<span class="keywordType2"><%= new Date(item.endTime).format('yyyy-MM-dd') %></span></div>
                    <div class="footerItem">已浏览：<span class="keywordType2"><%= item.pageviewAmount %></span></div>
                </div>
                <% if(item.status == 2) { %>
                    <p class="demand-status">
                        新任务
                    </p>
                <% }else if(item.status == 5){ %>
                    <p class="demand-status disabled">
                        已结束
                    </p>
                <% } %>
            </div>
        </div>
    </div>
    <% }) %>
<% }else { %>
    <div class="ns-list-item">
        <div class="media">
            <div class="media-body">没有符合查询条件的数据</div>
        </div>
    </div>
<% } %>