<div class="ReleaseMainCons grid1190 clearfix bgWhite">
    <!-- top -->
    <% if(data && data.id) { %>
    <p class="ReleaseTit">修改服务开发需求</p>
    <% }else{ %>
    <p class="ReleaseTit">新增服务开发需求</p>
    <% } %>
    <!-- down -->
    <form class="ReleaseInputs" onsubmit="return false;">
        <% if(data && data.id) { %>
        <input type="hidden" name="id" value="<%= data.id %>" />
        <% } %>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>任务名称：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="name" maxlength="100" placeholder="请输入任务名称" value="<%= data && data.name %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>任务描述：</p>
            <div class="fl R_right">
                <p>
                    <textarea name="description" id="" cols="30" rows="10" placeholder="请输入任务描述"><%= data && data.description %></textarea>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>任务要求：</p>
            <div class="fl R_right">
                <p>
                    <textarea style="height: 120px" name="required" id="" cols="30" rows="10" placeholder="请输入任务要求"><%= data && data.required %></textarea>
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>任务金额：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="money" maxlength="50" class="mini" placeholder="请输入任务金额" value="<%= data && data.money %>">
                </p>
            </div>
            <p class="R_left fl unit">元</p>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>截止日期：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="endTime" class="end-time mini" readonly value="<%= data && data.endTime && new Date(data.endTime).format('yyyy-MM-dd') %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>联系人信息：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" maxlength="50" class="mini" name="contactUsername" placeholder="请输入联系人信息" value="<%= data && data.contactUsername %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left"><em>*</em>联系人电话：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="contactPhone" class="mini" placeholder="请输入联系人电话" value="<%= data && data.contactPhone %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">需求用户：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="reqUser" maxlength="20" placeholder="请输入需求用户" value="<%= data && data.reqUser %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">邮箱：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="contactEmail" placeholder="请输入邮箱" value="<%= data && data.contactEmail %>">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList">
            <p class="fl R_left">地址：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" name="contactAddress" placeholder="请输入地址" value="<%= data && data.contactAddress %>">
                </p>
            </div>
        </div>
        <div class="R_Btns">
            <button type="submit" class="bgBlue" id="publishBtn">保存</button>
            <button id="goBack" class="bgBlue">返回</button>
        </div>
    </form>
</div>