<div class="ReleaseMainCons grid1190 clearfix bgWhite des">
    <!-- top -->
<div class="ReleaseTit w100">
    <p >查看数据供给需求</p>
</div>
    <!-- down -->
    <form class="ReleaseInputs">
        <div class="ReleaseInputs">
            <div class="clearfix ReleaseList">
                <p class="fl R_left">需求名称：</p>
                <div class="fl R_right">
                    <p>
                        <%= data && data.name %>
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left">数据描述：</p>
                <div class="fl R_right">
                    <p>
                        <%= data && data.dataDescription %>
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left">数据项：</p>
                <div class="fl R_right">
                    <p>
                        <%= data && data.dataItem %>
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left">赏金：</p>
                <div class="fl R_right">
                    <p>
                       <%= data && data.dataReword %>
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left">截止日期：</p>
                <div class="fl R_right">
                    <p>
                       <%= data && data.dataClosing && new Date(data.dataClosing).format('yyyy-MM-dd') %>
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left">主联系人：</p>
                <div class="fl R_right">
                    <p>
                        <%= data && data.reqUser %>
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left">主联系人电话：</p>
                <div class="fl R_right">
                    <p>
                        <%= data.reqContact %>
                    </P>
                </div>
            </div>
            </div>
    </form>

</div>