<div class="R-top clearfix">
    <div class="fl R-nameCons">
        <h3 class="ft24 mb25"><%= data.name %></h3>
        <p>
            <span class="cor7 mr25 ft14">访问量：<em class="cor7"><%= data.pageviewAmount %></em></span>
            <span class="cor7 mr25 ft14">关注量：<em class="cor7"><%= data.focusAmount %></em></span>
        </p>
    </div>
    <div class="fr R-shareStarCons">
        <p>
            <% if(data.flag == 0){ %>
            <span id="follow">关注</span>
            <% }else { %>
            <span id="follow">取消关注</span>
            <% } %>
        </p>
    </div>
</div>
<div class="R-Cons">
    <p class="titTop bggray ft14 corBlue">详情</p>
    <div class="titTopCons">
        <ul>
            <li class="mb10">
                <span>数据描述：</span>
                <span class="cor7"><%= data.dataDescription %></span>
            </li>
            <li class="mb10">
                <span>需求数据项：</span>
                <span class="cor7"><%= data.dataItem %></span>
            </li>
            <li class="mb10">
                <span>需求赏金：</span>
                <span class="cor7"><%= data.dataReword %></span>
            </li>
            <li class="mb10">
                <span>发布用户：</span>
                <span class="cor7"><%= data.createdBy %></span>
            </li>
            <li class="mb10">
                <span>发布日期：</span>
                <span class="cor7"><%= data.publishTime && new Date(data.publishTime).format('yyyy-MM-dd') %></span>
            </li>
            <li class="mb10">
                <span>截止日期：</span>
                <span class="cor7"><%= data.dataClosing && new Date(data.dataClosing).format('yyyy-MM-dd') %></span>
            </li>
        </ul>
    </div>
</div>
<div class="R-Cons">
    <p class="titTop bggray ft14 corBlue">需求反馈</p>
    <div class="titTopCons">
        <ul>
            <li class="mb10">
                <span>反馈时间：</span>
                <% if(data.feedbackTime){ %>
                <span class="cor7"><%= data.feedbackTime && new Date(data.feedbackTime).format('yyyy-MM-dd') %></span>
                <% }else{ %>
                <span class="cor7">暂无</span>
                <% } %>
            </li>
            <li class="mb10">
                <span>处理状态：</span>
                <span class="cor7"><%= data.handleStatus %></span>
            </li>
            <li class="mb10">
                <span>反馈意见：</span>
                <span class="cor7"><%= data.feedbackDepartment ? data.feedbackDepartment : '暂无' %></span>
            </li>
            <li class="mb10">
                <span>归属部门：</span>
                <span class="cor7"><%= data.department ? data.department : '暂无' %></span>
            </li>
        </ul>
    </div>
</div>
