<div class="M-mainInfo clearfix mt20 point recharge" style="padding-top: 20px;">
    <div class="mb20">
        <span>时间：</span>
        <input type="text" readonly id="datepicker" class="m0">
        <button class="btn-search corff bgBlue">查询</button>
    </div>
    <div class="M-downCons" id="rechargeRecord">
        
    </div>
</div>
<script type="template" id="rechargeTemplate">
    <div class="D_table M-table">
        <table>
            <thead>
            <tr>
                <th width="8%"></td>
                <th width="20%">名称</th>
                <th width="20%">充值金额</th>
                <th width="20%">账户余额</th>
                <th width="32%">时间</th>
            </tr>
            </thead>
            <tbody>
            <% data && _.each(data.list, function (item, index) { %>
            <tr>
                <td><%= index %></td>
                <td><%= item.rechargeType %></td>
                <td><%= item.flowAmount %></td>
                <td><%= item.accountBalance %></td>
                <td><%= new Date(item.updatedTime).format('yyyy-MM-dd HH:mm:ss') %></td>
            </tr>
            <% }); %>
            <%if(data && data.list.length == 0){%>
            <tr>
                <td colspan="5">暂无数据</td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
    <div id="serverPage" class="page-area fr"></div>
</script>