<div class="R-mainInfo clearfix account">
    <div class="R-titTab">
        <span class="active">设置密码</span>
        <% if(data.hasAccount){ %>
        <span>修改密码</span>
        <span>忘记密码</span>
        <% } %>
    </div>
    <div class="M-DownCons bgWhite pass-area">
        <form id="passForm">
            <div class="pass-wrap">
                <h2>设置六位密码：</h2>
                <div class="pass-container">
                    <input type="password" id="setPassword" name="setPassword" class="input-pwd" value="" maxlength="6" />
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                </div>
                <div class="tail-pwd">
                    <input type="password" id="passwordTail" name="passwordTail" class="tail-pwd-input" readonly maxlength="1" />
                </div>
                <label id="setPassword-error" class="error" for="setPassword"></label>
            </div>
            <div class="pass-wrap">
                <h2>确认密码：</h2>
                <div class="pass-container">
                    <input type="password" id="confirmPassword" name="confirmPassword" class="input-pwd" value="" maxlength="6" />
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                    <div class="pass-item"></div>
                </div>
                <div class="tail-pwd">
                    <input type="password" id="confirmPasswordTail" name="confirmPasswordTail" class="tail-pwd-input" readonly maxlength="1" />
                </div>
                <label id="confirmPassword-error" class="error" for="confirmPassword"></label>
            </div>
            <button class="btn btn-set">设置</button>
        </form>
    </div>
</div>