<div class="R-mainInfo clearfix account">
    <div class="R-titTab">
        <% if(data.hasAccount){ %>
        <span class="<%= data.id == 'setPayPassword' ? 'active' : '' %>" data-id="setPayPassword">修改密码</span>
        <span class="<%= data.id == 'forgetPayPassword' ? 'active' : '' %>" data-id="forgetPayPassword">忘记密码</span>
        <% }else{ %>
        <span class="active">设置密码</span>
        <% } %>
    </div>
    
    <div class="M-DownCons bgWhite pass-area">
        
    </div>
</div>
<script id="setPassword" type="template">
    <form id="passForm" onsubmit="return false;">
        <div id="passContent">
            
        </div>
        <button class="btn btn-set" type="submit">设置</button>
    </form>
</script>
<script id="editPassword" type="template">
    <form id="passForm" onsubmit="return false;">
        <div id="passContent">
            
        </div>
        <button class="btn btn-set" type="submit">确认</button>
    </form>
</script>
<script id="forgetPassword" type="template">
    <form id="passForm" onsubmit="return false;">
        <div class="clearfix ReleaseList pr">
            <p class="fl R_left">认证手机号：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" maxlength="11" id="mobile" name="mobile" readonly class="mini">
                </p>
            </div>
        </div>
        <div class="clearfix ReleaseList pr">
            <p class="fl R_left">验证码：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" maxlength="4" placeholder="请输入验证码" id="captcha" name="captcha" value="" class="mini">
                </p>
            </div>
            <img class="captchaImg fl" alt="验证码">
            <label id="captcha-error" class="error" for="captcha" style="display:none;"></label>
        </div>
        <div class="clearfix ReleaseList pr">
            <p class="fl R_left">手机验证码：</p>
            <div class="fl R_right">
                <p>
                    <input type="text" maxlength="6" readonly placeholder="请输入手机验证码" value="" id="authCode" name="authCode" class="mini">
                </p>
            </div>
            <button class="get-code fl" type="button" id="getCode">获取手机验证码</button>
            <label id="authCode-error" class="error" for="authCode" style="display:none;"></label>
        </div>
        <div id="passContent">
            
        </div>
        <button class="btn btn-set" type="submit">确认</button>
    </form>
</script>
