<div class="R-mainInfo clearfix account">
    <div class="R-titTab">
        <span class="active">设置密码</span>
        <% if(data.hasAccount){ %>
        <span>修改密码</span>
        <span>忘记密码</span>
        <% } %>
    </div>
    <div class="M-DownCons bgWhite">
        <div class="pass-container">
            <input type="password" class="input-pwd" maxlength="6" />
            <div class="pass-item"></div>
            <div class="pass-item"></div>
            <div class="pass-item"></div>
            <div class="pass-item"></div>
            <div class="pass-item"></div>
            <div class="pass-item"></div>
        </div>
    </div>
</div>