<div class="ns-contentComponent">
    <div class="ns-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="demand.html">需求大厅</a></li>
                        <li><a href="#data">需求详情</a></li>
                        <li class="active"><%= data.name %></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ns-wd2 bgWhite">
                    <div class="wdHead">
                        <h1><%= data.name %></h1>
                        <h3>访问量：<%= data.pageviewAmount %> &nbsp;&nbsp;&nbsp;&nbsp;关注量：<%= data.focusAmount %></h3>
                        <button type="button" id="follow" class="btn btn-follow">
                        <% if(data.flag == 0){ %>
                        关注
                        <% }else { %>
                        取消关注
                        <% } %>
                        </button>                        
                    </div>
                    <hr>
                    <div class="wdBody">
                        <div class="text-left">
                            <div class="wdHead" style="position: relative;">
                                <h1>需求详情</h1>
                            </div>
                            <p>需求描述：<%= data.dataDescription %></p>
                            <p>需求用途：<%= data.dataUsage %></p>
                            <p>数据项：<%= data.dataItem %></p>
                            <p>数据格式：<%= data.dataFormat %></p>
                            <p>发布用户：<%= data.reqUser %></p>
                            <p>发布日期：<%= data.publishTime && new Date(data.publishTime).format('yyyy-MM-dd') %></p>
                            <hr />
                            <div class="wdHead" style="position: relative;">
                                     <h1>需求反馈</h1>
                                        </div>
                                        <p>归属部门：<%= data.department %></p>
                                        <p>反馈日期：
                                            <% if(data.feedbackTime){ %>
                                            <%= data.feedbackTime && new Date(data.feedbackTime).format('yyyy-MM-dd') %>
                                            <% }else{ %>
                                            暂无
                                            <% } %>
                                        </p>
                            <p>部门反馈：<%= data.feedbackDepartment ? data.feedbackDepartment : '暂无' %></p>
                           <!-- <img src="dist/images/111.png" alt="">-->
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3" id="hotDataReport">
                
                </div> -->
            </div>
        </div>
    </div>
</div>