<div class="ReleaseMainCons grid960 clearfix bgWhite boxShadiow">
    <form onsubmit="return false;">
        <% if(data && data.id) { %>
        <input type="hidden" name="id" value="<%= data.id %>" />
        <% } %>
        <!-- top -->
        <% if(data && data.id) { %>
        <p class="ReleaseTit">修改需求</p>
        <% }else{ %>
        <p class="ReleaseTit">新增需求</p>
        <% } %>
        <!-- down -->
        <div class="ReleaseInputs">
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em> 需求名称：</p>
                <div class="fl R_right">
                    <p>
                        <input type="text" name="name" value="<%= data && data.name %>" id="name" placeholder="请输入需求名称" >
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em> 需求描述：</p>
                <div class="fl R_right">
                    <p>
                        <textarea name="dataDescription" id="dataDescription" cols="30" rows="10" placeholder="请输入任务描述"><%= data && data.dataDescription %></textarea>
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em> 需求项：</p>
                <div class="fl R_right">
                    <p>
                        <textarea style="height: 120px" name="dataItem" id="dataItem" cols="30" rows="10" placeholder="请输入数据项"><%= data && data.dataItem %></textarea>
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"><em>*</em> 需求用途：</p>
                <div class="fl R_right">
                    <p>
                        <textarea style="height: 120px" name="dataUsage" id="dataUsage" cols="30" rows="10" placeholder="请输入数据用途"><%= data && data.dataUsage %></textarea>
                    </p>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left">归属部门：</p>
                <div class="fl R_right">
                    <div class="radio-list">
                        <p>
                            <input type="text" name="department" value="<%= data && data.department %>" id="department" placeholder="请输入归属部门" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left">需求用户：</p>
                <div class="fl R_right">
                    <div class="radio-list">
                        <p>
                            <input type="text" name="reqUser" value="<%= data && data.reqUser %>" id="reqUser" placeholder="请输入需求用户" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix ReleaseList">
                <p class="fl R_left"> 格式：</p>
                <div class="fl R_right">
                    <div class="radio-list">
                        <label>
                            <% if(!data){ %>
                            <input type="radio" name="dataFormat" checked value="csv" >
                            <% }else{ %>
                            <input type="radio" name="dataFormat" <%= data && data.dataFormat == 'csv' && "checked" %> value="csv" >
                            <% } %>
                            csv
                        </label>
                        <label>
                            <input type="radio" name="dataFormat" <%= data && data.dataFormat == 'pdf' && "checked" %> value="pdf" >
                            pdf
                        </label>
                        <label>
                            <input type="radio" name="dataFormat" <%= data && data.dataFormat == 'xml' && "checked" %> value="xml">
                            xml
                        </label>
                        <label>
                            <input type="radio" name="dataFormat" <%= data && data.dataFormat == 'xlsx' && "checked" %> value="xlsx">
                            xlsx
                        </label>
                        <label>
                            <input type="radio" name="dataFormat" <%= data && data.dataFormat == 'doc' && "checked" %> value="doc">
                            doc
                        </label>
                        <label>
                            <input type="radio" name="dataFormat" <%= data && data.dataFormat == 'api' && "checked" %> value="api">
                            api
                        </label>
                        <label>
                            <input type="radio" name="dataFormat" <%= data && data.dataFormat == 'other' && "checked" %> value="other">
                            其他
                        </label>
                    </div>
                </div>
            </div>
            <div class="R_Btns">
            <button type="submit" class="bgBlue" id="publishBtn">保存</button>
                <button id="goBack" class="bgBlue">返回</button>
            </div>
        </div>
    </form>
</div>