.pay-wrapper {
    background: #fff;
    width: 1190px;
    padding: 0 30px 30px;
    margin: 0 auto;
}
.pay-content hr {
    border-bottom: solid 1px #dcdcdc;
}
.pay-content p.split{
    font-size: 18px;
    padding: 20px;
    border: solid 1px #aaa;
}
.pay-content .pass-wrap label.error {
    left: 450px;
}
.pay-type {
    /*height: 250px;*/
    margin-top: 20px;
    background: #f4f6fd;
    border: 1px solid #aaa;
    padding: 20px;
}
.pay-type .pay-way {
    width: 180px;
    display: inline-block;
    margin-left: 70px;
    margin-top: 20px;
    height: 60px;
    vertical-align: middle;
}
.pay-type label.zfb {
    background: url("../../images/pay/zfb.png") right center no-repeat;
}
.pay-type label.wxzf {
    background: url("../../images/pay/wxzf.png") right center no-repeat;
}
.pay-type label input{
    float: left;
    height: 50px;
    width: 20px;
}
.pay-type .select-title {
    font-size: 16px;
}
.pay-type .account-balance {
    width: 140px;
    height: 50px;
    border: 1px solid #ccc;
    margin-left: 40px;
    margin-top: 5px;
    background: #fff;
    padding: 6px 20px 0 20px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}
.pay-type .point-title {
    font-size: 16px;
    position: relative;
    cursor: pointer;
}
.pay-type .point-title i {
    border-top: 7px solid #0f96ee;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    width: 0;
    height: 0;
    position: relative;
    top: 16px;
    left: 6px;
}
.pay-type .point-title.more i {
    border-top: 0;
    border-bottom: 7px solid #0f96ee;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: -13px;
}
.pay-type .forget-pass {
    position: absolute;
    top: 15px;
    left: 330px;
    z-index: 99;
}
.point-pay {
    padding: 20px;
    font-size: 14px;
}
.point-pay li {
    padding: 10px 0;
}
.point-pay li p {
    display: inline-block;
}
.point-pay .input-point {
    margin: 0 10px 0 0;
    width: 100px;
}
.point-pay .point-rule {
    background: url(../../images/pay/icon-question.png) right center no-repeat;
    padding-right: 30px;
    height: 20px;
    line-height: 20px;
}
.pay-total {
    background: #fdfbf4;
    padding: 20px 40px;
    border: 1px solid #dbcea5;
    margin-top: 20px;
    overflow: hidden;
}
.pay-total ul {
    float: right;
    font-size: 16px;
}
.pay-total ul li {
    margin-top: 20px;
}
.pay-total ul li:first-child {
    margin-top: 0;
}
.pay-total ul p, .point-pay ul li form {
    display: inline-block;
}
.point-pay ul label.error {
    color: #d82e3a;
    margin: 0;
    height: 30px;
    width: 250px;
    display: inline-block;
    line-height: 30px;
    margin-left: 15px;
    cursor: default;
    padding-left: 25px;
    background: url(../../images/del.png) no-repeat center left;
}
.pay-total ul .title {
    width: 150px;
    text-align: right;
}
.pay-total ul .amount {
    width: 100px;
    text-align: right;
}
.pay-total .point-serve {
    display: none;
}
.pay-type .btn-account-pay {
    width: 300px;
    margin-top: 0;
}
.qrzf {
    padding: 12px 22px;
    border: solid 1px #2098ec;
    border-radius: 5px;
    background: #2098ec;
    font-size: 18px;
    margin-right: 30px;
    margin-top: 20px;
    color: #fff;
    outline: 0;
}
.qrzf.disabled {
    background: #aaa;
    border: 1px solid #aaa;
}
.point-rule-wrapper {
    color: #333;
}
.point-rule-wrapper .point-rule-tip {
    list-style: initial;
    padding-left: 20px;
}
.corRed {
    color: #ff4200;
}
.orderDetail {
    padding: 20px;
}
.orderDetail .orderImg {
    float: left;
    width: 150px;
}
.orderDetail .orderImg img{
    width: 100px;
    height: 100px;
    border: solid 1px #dcdcdc;
}
.orderDetail .order-info {
    float: left;
    color: #4c4c4c;
    font-size: 14px;
}
.ml40{
    margin-left: 40px;
}
.orderDetail .order-info p{
    line-height: 30px;
    margin-top: 10px;
}
.orderDetail-ali .order-info p{
    margin-top: 5px;
}
.erweimaImg {
    margin-top: 70px;
    margin-left: 40px;
}
.ylPay{
    border: solid 2px #a9d1e5;
    padding-bottom: 20px;
}
.ylPay label{
    background: none;
    margin-top: 30px;
}
.ylPay label input{
    height: 45px;
    margin-right: 10px;
}

.payBtn{
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 5px 10px;
    background: #5bc0de;
    color: #fff;
    border-radius: 3px;
    border: none;
}
.erweimaImg .saomiao {
    background: #439cd9 url(../../images/pay/saomiao.png)20px center no-repeat;
    width: 120px;
    font-size: 14px;
    height: 40px;
    padding-left: 80px;
    padding-top: 10px;
}
a.wx-result-btn {
    float: right;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 8px;
    color: #fff;
    margin: 20px;
}