<p class="split">
    <span class="mr20">应付金额：</span>
    <span class="corOrange">￥<span id="amount"><%= data && data.order.orderCash %></span></span>
</p>
<div class="pay-type">
    <p class="select-title">请选择支付方式：</p>
    <label class="zfb pay-way"><input type="radio" name="type" value="alipay" checked=""></label>
    <label class="wxzf pay-way"><input type="radio" name="type" value="weixin"></label>
    <% if(data.order.order_classify == '2') { %>
    <% } else if(data && data.account != 'noAccount'){ %>
    <label class="account pay-way">
        <input type="radio" name="type" value="account">
        <div class="account-balance">
            <p class="ft18">账户支付</p>
            <p class="mt5">（余额<span class="corOrange"><%= data && data.account.account_balance %></span>元）</p>
        </div>
    </label>
    <% } else { %>
    <label class="account pay-way">
        <input type="radio" disabled>
        <div class="account-balance disabled">
            <p class="ft18">账户支付</p>
            <p class="mt5">未开通</p>
        </div>
    </label>
    <% } %>
    <hr/>
</div>
<div class="pay-total">
    <ul>
        <li>
            <p class="title">总额：</p>
            <p class="amount"><%= data && data.order.orderCash %>元</p>
        </li>
        <li>
            <p class="title">需要支付额度：</p>
            <p class="amount corOrange" id="actualAmount"><%= data && data.order.orderCash %>元</p>
        </li>
    </ul>
</div>
<button class="qrzf fr" id="payBtn">确认支付</button>