.login{
	width:100%;
    min-height:458px;
	background:url(../images/bg.png) no-repeat top center;
	background-size:100% 100%;
}
.login_form_span{
	font-size:16px;
	font-weight:bold;
	width:100%;
	border-bottom:1px solid #ddd;
	display:block;
	line-height:40px;
	height:40px;
	text-indent:1em;
}
.login_form{
	width:314px;
    background:#fff;
	margin:0 auto;
	padding:0 auto;
	
	margin-top:80px;
	-webkit-box-shadow:0px 0px 10px #1b6eb9;
	-moz-box-shadow:0px 0px 10px #1b6eb9;
	-o-box-shadow:0px 0px 10px #1b6eb9;
	box-shadow:0px 0px 10px #1b6eb9;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	
}
.login_form_a{
	width:100%;
	padding:30px 30px;
	
}
.login_form_bottom{
	margin-bottom:5px;
}
.login_form_font{
	margin-bottom:5px;
	color:#a9a9a9;
}
.checkbox_color{
	color:#666;
}
.btn_color,.btn_color:hover{
	background:#1dc845;
	width:100%;
	color:#fff;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.form_group_button,.form_group_button:hover{
	color:#5078a7;
	font-size:12px;
}
.margin_left{
	margin-left:5%;
}
.margin_right{
	margin-right:5%;
}
.margin-bottom{
	margin-bottom:5px;
}
