<a href="#info" class="myinfo">用户中心</a>
<ul>
    <li>
        <a href="#user" <%= (name == 'userView'||name == 'userAuthView'||name == 'userPasswordView' ? 'class=active' : '' ) %> >个人中心</a>
        <!--
        <a href="#account" <%= (name == 'accountView' ? 'class=active' : '' ) %> >我的账户</a>
        -->
        <a href="#demand" <%= (name == 'demandView'||name == 'apiDemandView'||name == 'serversDemandView'||name == 'followDemandView'||name == 'acceptDemandView' ? 'class=active' : '' ) %> >我的需求</a>
        <!-- <a href="#sources" <%= (name == 'sourcesView' ? 'class=active' : '' ) %> >我的数据</a> -->
        <a href="#api" <%= (name == 'apiView'||name == 'myApiView'||name == 'followView' ? 'class=active' : '' ) %>>我的API</a>
        <a href="#saas" <%= (name == 'saasView'||name == 'saasApplyView'||name == 'saasFollowView' ? 'class=active' : '' ) %>>我的SaaS服务</a>
        <a href="#server" <%= (name == 'serverView'||name == 'serverFollowView'||name == 'serverApplyView' ? 'class=active' : '' ) %>>我的微应用</a>
        <a href="#shop" <%= (name == 'shopView'||name == 'orderView' ? 'class=active' : '' ) %> >订单管理</a>
        <%if(isDisPhone){%>
        <a href="#recharge" <%= (name == 'rechargeView' ? 'class=active' : '' ) %> >话费充值</a>
        <%}%>
        <a href="#account" <%= (name == 'accountView'||name == 'rechargeRecordView'||name == 'setPayPasswordView'||name == 'consumeRecordView'||name == 'invoiceView' ? 'class=active' : '' ) %> >账户管理</a>
        <!--
        <a href="myPioneer.html">创业园地</a>
        -->
    </li>
</ul>