.server-package-manage ul li input.small{width: 80px;float: left;}
.server-package-manage ul li input[type="text"]{ width: 320px;}
.server-package-manage ul li textarea{width: 320px;height: 80px;resize: none;}
.server-package-manage ul li input.error{border: 1px solid red;}
.server-package-manage ul li label.error{color: red;margin-right: 5px;float: right;}
.server-package-manage .ml20{margin-left: 20px;}

.server-package-manage ul{
    padding: 10px 20px;
}
.server-package-manage  ul li{
    padding: 5px ;
    float: left;
    width: 100%;
}
.server-package-manage  ul li p.mes {
    float: left;max-width: 200px;margin-left: 10px;line-height: 30px;word-break: break-all;
    margin-top: 0;
    margin-right: 0;
}
.server-package-manage ul li label{
    float: left;
    line-height: 27px;
}
.server-package-manage ul li span{
    width: 70px;
    line-height: 30px;
    display: block;
    float: left;
    text-align: right;
}
.server-package-manage ul li span.prePrice,.server-package-manage ul li span.limitPre {width:auto;}
.server-package-manage ul li input[type="text"]{
    width: 340px;
    float: left;
}
.server-package-manage #price-error {position: absolute;top: 24px; left:70px; width: 300px;}
.server-package-manage .mes {line-height: 30px;max-width: 600px;}
.server-package-manage .input-mes-server {margin: 0 0 0 70px;font-size: 12px;color: #999;}
.server-package-manage .input-mes-server-price {color: #f89406;min-width: 200px;margin: 0 0 0 70px;font-size: 12px;}
.server-package-manage .input-mes-server-price span {width: auto !important;display: inline!important;float: none!important;}
.server-package-manage input[readonly] {cursor:default;background: #FFF;}