<div class="header grid1190">
    <h1 class="logo fl">
        <a href="index.html">
            <img src="../../images/newicon/ic_newlogo.png" alt="logo">
        </a>
    </h1>
    <div class="navCons fl mt20 index">
        <ul class="nav fl">
            <% _.each(data.menuList, function (item) { %>
            <li <%= (data.id == item.key ? 'class=active' : '' ) %>><a href="<%= item.url %>"><%= item.name %></a></li>
            <%})%>
        </ul>
    </div>
    <div class="haslogin fr clearfix">
        <div class="searchCons fl">
            <input type="text" class="search" id="inputs" placeholder="请输入要查找的内容">
            <a class="search-img"></a>
        </div>
        <div class="fr">
            <div class="noLogin <%= (data.username ? 'hide' : '') %>">
                <a href="login.html" >登录</a>
                <span>|</span>
                <a href="register.html">注册</a>
            </div>
            <div class="yesLogin <%= (data.username ? '' : 'hide') %>">
            <div id="personReal" class="personIcon">
                <span id="infoName" class="down" title="<%= data.username %>"><%= data.username %></span>
            </div>
        </div><!-- 个人中心 -->
        <div class="shareBox dropMenu" style="display: none;">
            <div class="shareList">
                <ul>
                    <li class="usercenter">
                        <a href="userInfo.html">用户中心</a>
                    </li>
                    <li class="logout"><a id="exit">退出</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>