<div class="M-mainInfo clearfix bgWhite" style="padding-top: 20px;">
    <div class="tab-title" ><a class="corff" href="./demand.html#data/publish">新增数据需求</a></div>
    <div class="M-downCons">
        <div class="D_table M-table">
            <table>
                <thead>
                <tr>
                    <th width="11%">数据需求名称</th>
                    <th width="25%">数据需求描述</th>
                    <th width="8%">发布日期</th>
                    <th width="8%">状态</th>
                    <th width="8%">反馈日期</th>
                    <th width="16%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="6">暂无数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="sourcesPage" class="page-area fr"></div>
    </div>
</div>
<script id="resourcesDemandList" type="template">
    <% _.each(demandList, function (item) { %>
    <tr attrId="<%=item.id%>">
        <td>
            <%if(item.statusCode == '0' || item.statusCode == '1'){%>
            <a target="_blank" href="demand.html#data/des/<%=item.id%>"><%=item.name || '-'%></a>
            <%}else{%>
            <a target="_blank" href="demand.html#data/detail/<%=item.id%>"><%=item.name || '-'%></a>
            <%}%>
        </td>
        <td><%=item.dataDescription%></td>
        <td><%= item.publishTime ? new Date(item.publishTime).format('yyyy-MM-dd') : '-'%></td>
        <td><%= item.statusName %></td>
        <td><%= item.feedbackTime ? new Date(item.feedbackTime).format('yyyy-MM-dd') : '-'%></td>
        <td>
            <%if(item.statusCode == '0'){%>
                <a href="javascript:;" class="dataPublish" data-id="<%=item.id%>">发布</a>
                <a href="./demand.html#data/edit/<%=item.id%>" class="editSource">修改</a>
                <a href="javascript:;" class="deleteSource">删除</a>
            <%}%>
        </td>
    </tr>
    <% }); %>
    <%if(demandList.length == 0){%>
    <tr>
        <td colspan="6">暂无数据</td>
    </tr>
    <%}%>
</script>

