<div class="M-mainInfo clearfix bgWhite" style="padding-top: 20px;">
    <div class="tab-title"><a class="corff" href="./demand.html#service/publish">新增服务需求</a></div>
    <div class="M-downCons">
        <div class="D_table M-table">
            <table>
                <thead>
                <tr>
                    <th width="20%">服务需求名称</th>
                    <th width="30%">服务需求描述</th>
                    <th width="18%">截止日期</th>
                    <th width="10%">状态</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="5">暂无数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="serverPage" class="page-area fr"></div>
    </div>
</div>
<script id="serversDemandList" type="template">
    <% _.each(serverDemandList, function (sitem) { %>
    <tr attrId="<%=sitem.id%>" >
        <td>
            <%if(sitem.status == '0'|| sitem.status == '1'){%>
                <a target="_blank" href="demand.html#service/des/<%= sitem.id %>"><%=sitem.name || '-'%></a>
            <%}else{%>
                <a target="_blank" href="demand.html#service/detail/<%= sitem.id %>"><%=sitem.name || '-'%></a>
            <%}%>
        </td>
        <td><%= sitem.description || '-'%></td>
        <td><%=sitem.endTime%></td>
        <td><%=sitem.statusName%></td>
        <td>
            <%if(sitem.status == '0'){%>
                <a href="javascript:;" class="servicePublish" data-id="<%=sitem.id%>">发布</a>
                <a href="./demand.html#service/edit/<%=sitem.id%>" class="editServerApi">修改</a>
                <a href="javascript:;" class="deleteServers">删除</a>
            <%}else if(sitem.status == '2' || sitem.status == '4'){%>
                <a href="javascript:;" class="showSerOrderInfo" data-status="<%=sitem.status%>">查看接单列表</a>
                <a href="javascript:;" class="offshopServers">下架</a>
                <a href="javascript:;" class="closeServers">关闭</a>
            <%}else if(sitem.status == '7'){%>
                <a href="javascript:;" class="showSerOrderInfo" data-status="<%=sitem.status%>">查看接单列表</a>
            <%}else if(sitem.status == '5') {%>
                <a href="javascript:;" class="showSerOrderInfo" data-status="<%=sitem.status%>">查看接单列表</a>
                <a href="javascript:;" class="offshopServers">下架</a>
            <%}else if(sitem.status == '3') {%>
                <a href="javascript:;" class="queryRefuse">查看拒绝原因</a>
            <% } %>
        </td>
    </tr>
    <% }); %>
    <%if(serverDemandList.length == 0){%>
    <tr>
        <td colspan="5">暂无数据</td>
    </tr>
    <%}%>
</script>


<div id="serNameList" style="display: none;">
    <div class="D_table M-table" style="padding: 20px;">
        <table>
            <thead>
            <tr>
                <th>序号</th>
                <th>时间</th>
                <th>接单人</th>
                <th>电话</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="7">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="serOrderPage" class="fr">

    </div>
    <div id="payTip"></div>
</div>

<script id="serOrderNameList" type="template">
    <% _.each(serOrderList, function (sitem,index) { %>
    <tr>
        <td><%= (index+1)%></td>
        <td><%= new Date(sitem.createdTime).format('yyyy-MM-dd')%></td>
        <td><%= sitem.contactUsername %></td>
        <td><%= sitem.contactPhone %></td>
        <td><%= sitem.statusName %></td>
        <td data-id="<%= sitem.id %>">
            <%if(sitem.status == 'P'){%>
            <a class="showSerPlanInfo">查看方案</a>
            <a class="ensureSerPlanInfo">确认</a>
            <a class="refuseSerPlanInfo">拒绝</a>
            <%}else{%>
            <a class="showSerPlanInfo">查看方案</a>
            <%};%>
        </td>
    </tr>
    <% }); %>
    <%if(serOrderList.length == 0){%>
    <tr>
        <td colspan="7">暂无数据</td>
    </tr>
    <%}%>
</script>


<div class="orderDiv" id="serOrderPlanDiv"  style="display: none;">

</div>

<script id="serPlanInfo" type="template">
    <label>
        <span>方案报价：</span>
        <textarea readonly><%- palnList.price %></textarea>
    </label>
    <label>
        <span>报价方案简介：</span>
        <textarea readonly><%- palnList.planIntro %></textarea>
    </label>
</script>
<script id="payTipTemplate" type="template">
    <% if(data.rate == 0) { %>
        您尚未提供资金担保，确认方案后请及时提供！<a href="userInfo.html#account/guarantee/<%= data.reqId %>" class="corMain">立即充值</a>
    <% } else if(data.guaranteeBalance != 0){ %>
        您已提供<%= data.rate %>%担保金，项目余额<%= data.leftMoney %>元，是否向该用户支付款项？<a href="userInfo.html#account/transfer/<%= data.reqId %>" class="corMain">立即付款</a>
    <% } else if(data.guaranteeBalance == 0){ %>
        您已提供<%= data.rate %>%担保金，项目余额为空，是否补充余下项目款项！<a href="userInfo.html#account/guarantee/<%= data.reqId %>" class="corMain">立即充值</a>
    <% } %>
</script>
