<div class="R-mainInfo clearfix follow-list">
    <div class="R-titTab">
        <span class="active">关注的服务需求</span>
        <span>关注的API需求</span>
        <span>关注的数据需求</span>
    </div>
    <div id="followArea" class="M-DownCons bgWhite">

    </div>
    <div id="followAreaPage" class="page-area"></div>
</div>
<script id="followServersList" type="template">
    <div class="D_table M-table">
        <table>
            <thead>
            <tr>
                <th>服务任务名称</th>
                <th>发布人</th>
                <th>预算金额</th>
                <th>浏览次数</th>
                <th>关注时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(focusServerList, function (fsitem) { %>
            <tr attrId="<%=fsitem.serviceId%>">
                <td><a  href="../demand.html#service/detail/<%=fsitem.serviceId%>"><%=fsitem.name%></a></td>
                <td><%= fsitem.publisher%></td>
                <td><%= fsitem.money%></td>
                <td><%= fsitem.pageviewAmount%></td>
                <td><%= fsitem.focusTime ? new Date(fsitem.focusTime).format('yyyy-MM-dd') : '-'%></td>
                <td>
                    <a href="javascript:;" class="cancelFocus">取消关注</a>
                </td>
            </tr>
            <% }); %>
            <%if(focusServerList.length == 0){%>
            <tr>
                <td colspan="6">暂无数据</td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
</script>
<script id="followApiList" type="template">
    <div class="D_table M-table">
        <table>
            <thead>
            <tr>
                <th>API任务名称</th>
                <th>发布人</th>
                <th>预算金额</th>
                <th>浏览次数</th>
                <th>关注时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(focusApiList, function (faitem) { %>
            <tr attrId="<%=faitem.id%>">
                <td><a  href="../demand.html#api/detail/<%=faitem.id%>"><%=faitem.sysName%></a></td>
                <td><%= faitem.pulibsher%></td>
                <td><%= faitem.preOffer%></td>
                <td><%= faitem.pageviewAmount%></td>
                <td><%= faitem.focusTime ? new Date(faitem.focusTime).format('yyyy-MM-dd') : '-'%></td>
                <td>
                    <a href="javascript:;" class="cancelApiFocus">取消关注</a>
                </td>
            </tr>
            <% }); %>
            <%if(focusApiList.length == 0){%>
            <tr>
                <td colspan="6">暂无数据</td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
</script>
<script id="followSourcesList" type="template">
    <div class="D_table M-table">
        <table>
            <thead>
            <tr>
                <th>数据任务名称</th>
                <th>数据描述</th>
                <th>归属部门</th>
                <th>关注时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <% _.each(followSourceList, function (fsitem) { %>
                <tr attrId="<%=fsitem.id%>">
                    <td><a  href="../demand.html#data/detail/<%=fsitem.id%>"><%=fsitem.name%></a></td>
                    <td><%= fsitem.dataDiscription%></td>
                    <td><%= fsitem.department%></td>
                    <td><%= fsitem.focusTime ? new Date(fsitem.focusTime).format('yyyy-MM-dd') : '-'%></td>
                    <td>
                        <a href="javascript:;" class="cancelSourceslFocus">取消关注</a>
                    </td>
                </tr>
                <% }); %>
                <%if(followSourceList.length == 0){%>
                <tr>
                    <td colspan="6">暂无数据</td>
                </tr>
                <%}%>
            </tr>
            </tbody>
        </table>
    </div>
</script>

