<div class="R-mainInfo clearfix accept-list">
    <div class="R-titTab">
        <span class="active">服务开发需求接单</span>
        <span>API开发需求接单</span>
    </div>
    <div id="acceptArea" class="M-DownCons bgWhite">

    </div>
    <div id="acceptPages" class="page-area"></div>
</div>
<script id="myServerAccept" type="template">
    <div class="D_table M-table">
        <table>
            <thead>
            <tr>
                <th>服务名称</th>
                <th>预算金额</th>
                <th>截止日期</th>
                <th>接单日期</th>
                <th>需求方</th>
                <th>接单状态</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(acceptServersList, function (asitem) { %>
            <tr attrId="<%=asitem.id%>">
                <td><a  href="demand.html#service/detail/<%=asitem.id%>"><%=asitem.name%></a></td>
                <td><%= asitem.money%></td>
                <td><%= asitem.endTime ? new Date(asitem.endTime).format('yyyy-MM-dd') : '-'%></td>
                <td><%= asitem.createdTime ? new Date(asitem.createdTime).format('yyyy-MM-dd') : '-'%></td>
                <td><%= asitem.reqUser%></td>
                <td>
                    <%= asitem.statusName%>
                </td>
            </tr>
            <% }); %>
            <%if(acceptServersList.length == 0){%>
            <tr>
                <td colspan="6">暂无数据</td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
</script>

<script id="myApiAccept" type="template">
    <div class="D_table M-table">
        <table>
            <thead>
            <tr>
                <th>需求方系统</th>
                <th>截止时间</th>
                <th>接单时间</th>
                <th>需求方</th>
                <th>接单状态</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(acceptApiList, function (aaitem) { %>
            <tr attrId="<%=aaitem.id%>">
                <td><a  href="demand.html#api/detail/<%=aaitem.id%>"><%=aaitem.sysName%></a></td>
                <td><%= aaitem.endTime ? new Date(aaitem.endTime).format('yyyy-MM-dd') : '-'%></td>
                <td><%= aaitem.orderTime ? new Date(aaitem.orderTime).format('yyyy-MM-dd') : '-'%></td>
                <td><%= aaitem.reqUser%></td>
                <td>
                    <%= aaitem.statusName%>
                </td>
            </tr>
            <% }); %>
            <%if(acceptApiList.length == 0){%>
            <tr>
                <td colspan="6">暂无数据</td>
            </tr>
            <%}%>

            </tbody>
        </table>
    </div>
</script>

