.tab-title{
    margin-bottom: 15px;
}
.tab-title a {
    border: none;
    display: block;
    background: #069cd9;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    width: 120px;
    font-size: 16px;
    text-align: center;
}
.tab-title a {}
.D_table table tbody tr td a {
    color: #3f89ec;
}