<div id="demandTabs" class="topTab clearfix myApiTop">
    <span class="active">发布的数据需求</span>
    <span>发布的API需求</span>
    <span>发布的服务需求</span>
    <span>我的关注</span>
    <span>我的接单</span>
</div>
<div id="demandInfo"  class="tabDownCons">

</div>
<script id="resourcesDemandList" type="template">
    <div class="M-mainInfo clearfix bgWhite" style="padding-top: 20px;">
        <div class="tab-title" ><button><a class="corff" href="../customized/citySdkTask.html">发布数据需求</a></button></div>
        <div class="M-downCons">
            <div class="D_table M-table">
                <table>
                    <thead>
                    <tr>
                        <th width="8%">需求名称</th>
                        <th width="28%">需求描述</th>
                        <th width="8%">发布日期</th>
                        <th width="8%">状态</th>
                        <th width="8%">反馈日期</th>
                        <th width="16%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(demandList, function (item) { %>
                    <tr>
                        <td><a  href="../customized/dataInf.html">失业人员信息</a></td>
                        <td>数据包括身份证号码、姓名、性别、出生日期、户口性质、联系电话等信息</td>
                        <td>2016.6.10</td>
                        <td>预审驳回</td>
                        <td>2016.6.10</td>
                        <td><a class="edit">修改</a>
                            <a class="delete">删除</a>
                            <a class="closed">关闭</a>
                            <a class="remove">下架</a>
                        </td>
                    </tr>
                    <% }); %>
                    <%if(demandList.length == 0){%>
                    <tr>
                        <td colspan="6">暂无数据</td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
            <div class="page-area"></div>
        </div>
    </div>
</script>
<script id="accountApply" type="template">

</script>
