.filter-area {position: fixed;top:43px;left: 0;width: 94%;background: #FFF;padding: 10px 0 0;z-index: 999;}
.filter-area input[type="text"]{position: absolute;top: -35px;right: 30px;width: 180px;z-index: 99999;}
.filter-a {padding: 0 10px 5px 30px;}
.filter-a a {color: #0ab7ef !important;display: block;float: left;margin-right: 4px;}
.filter-a a:hover {color: #0681a9;text-decoration: underline;}
.provider-list {
    margin-top: 15px;
    width: 84%;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
}
.provider-list li {
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    cursor: pointer;
}
.provider-list li:hover{
    background: #eee;
}