    <div>
    <div class="bigInputs clearfix">
        <div class="sel fl">
            <p class="down selCons allSearch"><%= data.dataType %></p>
        </div>
        <input type="text" class="search fl" id="searchValue" value="<%= data.keyword %>">
        <input type="button" class="searchBtn bgBlue fl" value="搜索">
    </div>
</div>
<div class="grid960">
    <div class="search-type">
        <span class="<%= data.dataType =='API'?'active': '' %>" data-type="API">API</span>
        <span class="<%= data.dataType =='数据'?'active': '' %>" data-type="数据">数据</span>
        <span class="<%= data.dataType =='微服务'?'active': '' %>" data-type="微服务">微服务</span>
    </div>
    <div class="SearchList <%= data.dataType =='API'?'show': 'hide' %>"  id="apiResult">
        <ul>

        </ul>
        <div class="Page text-center">

        </div>
    </div>
    <div class="SearchList <%= data.dataType =='数据'?'show': 'hide' %>" id="dataResult" >
        <ul >

        </ul>
        <div class="Page text-center">

        </div>
    </div>
    <div class="SearchList <%= data.dataType =='微服务'?'show': 'hide' %>"  id="serResult">
        <ul>

        </ul>
        <div class="Page text-center">

        </div>
    </div>
</div>