<%if(filterResult.length > 0){%>
<% filterResult.forEach(function(tagitem){ %>
<li>
    <input type="hidden" class="tagPinyin<%=tagitem.tagPinyin.toLocaleLowerCase()%>">
    <label style="width: 100%;line-height: 16px;">
        <input id="tag<%=tagitem.tagId%>" data-name="<%= tagitem.name %>" value="<%= tagitem.tagId %>" name="tagGroup" type="checkbox" style="width: 20px;" <%if(sChooseTags.indexOf('*&'+tagitem.tagId+'*&')>=0){%>checked=true<%}%>>
        <%=tagitem.name%>
    </label>
</li>
<% }) %>
<% }else { %>
<div class="empty-tip">
  没有搜索到“<%= filterVal.toLocaleUpperCase() %>”，是否将“<%= filterVal.toLocaleUpperCase() %>”标签添加到标签字典中，如果是，点击<a href="javascript:;" class="corMain" id="addTag" data-addtxt="<%= filterVal.toLocaleUpperCase() %>">添加</a>
</div>
<% } %>