* {
    margin: 0;
    padding: 0;
}
@charset "utf-8";
ul {
    list-style: none;
}

img, a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html, body {
    height: 100%;
    min-width: 100%;
}

#userLabel, #pwdLabel {
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    background: url("../../../images/kuaidian_register/user_icon.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin: 0.07rem 0 0 0.2rem;
}

#pwdLabel {
    background: url("../../../images/kuaidian_register/pwd_icon.png") no-repeat;
    background-size: 100% 100%;
}

.header {
    width: 100%;
    height: 255px;
    margin: 0 auto 0.34rem;
}

.header img {
    width: 100%;
}

#loginForm input {
    display: block;
    float: left;
    height: 0.16rem;
    margin-left: 0.12rem;
    font-size: 0.14rem;
    box-sizing: border-box;
    border: none;
    color: gray;
    margin-top: 0.13rem;
    border-radius: 0;
    padding: 0;
    line-height: 0.16rem;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
   /* box-shadow: none;*/
}
#loginForm .yzm_div input{
    margin-left: 0.14rem;
    padding-left: 0.08rem;
    width: 1rem;
}
#loginForm input:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.username_div, .password_div,.yzm_div {
    width: 3.35rem;
    height: 0.4rem;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    line-height: 0.4rem;
}

.username_div {
    margin-bottom: 0.2rem;
}
.yzm_div{
    margin-top: 0.2rem;
}
.forget_pwd_div {
    width: 3.35rem;
    margin: 0.12rem auto 0;
    overflow: hidden;
}

.forget_pwd {
    text-decoration: none;
    font-size: 0.12rem;
    color: #FF9F00;
    display: block;
    float: right;
}

.radius-border:before {
    content: "";
    pointer-events: none; /* 防止点击触发 */
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    border-radius: 0.4rem;
    border: 1px solid gray;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform: scale(0.5);
    transform-origin: 0 0;
}

.btn {
    padding: 0;
    width: 3.35rem;
    height: 0.4rem;
    line-height: 0.4rem;
    color: white !important;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    background: #FF9F00;
    font-size: 0.18rem;
    display: block;
    margin: 0.32rem auto 0;
    clear: both;
}