* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img, a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html, body {
    height: 100%;
}

#userLabel, #pwdLabel {
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    background: url("../../../images/kuaidian_register/user_icon.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin: 0.07rem 0 0 0.2rem;
}

#pwdLabel {
    background: url("../../../images/kuaidian_register/pwd_icon.png") no-repeat;
    background-size: 100% 100%;
}

.header {
    width: 100%;
    height: 255px;
    margin: 0 auto 0.34rem;
}

.header img {
    width: 100%;
}

#loginForm input {
    display: block;
    float: left;
    height: 0.16rem;
    margin-left: 0.12rem;
    font-size: 0.14rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: gray;
    margin-top: 0.13rem;
}

.username_div, .password_div {
    width: 3.35rem;
    height: 0.4rem;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    line-height: 0.4rem;
}

.username_div {
    margin-bottom: 0.2rem;
}

.forget_pwd_div {
    width: 3.35rem;
    margin: 0.12rem auto 0;
    overflow: hidden;
}

.forget_pwd {
    text-decoration: none;
    font-size: 0.12rem;
    color: #FF9F00;
    display: block;
    float: right;
}

.radius-border:before {
    content: "";
    pointer-events: none; /* 防止点击触发 */
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    border-radius: 0.4rem;
    border: 1px solid gray;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform: scale(0.5);
    transform-origin: 0 0;
}

.btn {
    width: 3.35rem;
    height: 0.4rem;
    line-height: 0.4rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    background: #FF9F00;
    font-size: 0.18rem;
    display: block;
    margin: 0.32rem auto 0;
    clear: both;
}