<div class="ns-gridPanelItem">
    <div class="ns-gridPanelItemBody">
        <a href="saas.html?detail/<%= data.id %>" class="imgLink">
            <img src="<%= data.imageUri %>" alt="SaaS图标">
        </a>
    </div>
    <div class="ns-gridPanelItemBottom">
        <a href="saas.html?detail/<%= data.id %>" class="h1"><%= data.name %></a>
        <div class="info">
            <div class="cell"><span><%- data.chargeTypeDesc %></span></div>
        </div>
        <div class="info">
            <div class="cell"> 浏览量 <span><%= data && data.viewCount %></span></div>
            <div class="cell"> 申请量 <span><%= data && data.applyCount %></span></div>
        </div>
    </div>
</div>