<% _.each(data, function(item){ %>
<li class="angled-135 posRE">
    <div class="tabConsTop clearfix">
        <div class="iconforapi">
            <% if(item.sourceType ==='01'){ %>
            <a href="api.html#detail/<%- item.id %>" class="apihref">
            <% }else if(item.sourceType ==='02'){ %>
            <a href="sources.html#detail/<%- item.id %>" class="apihref">
            <% }else{ %>
            <a href="services.html#detail/<%- item.id %>" class="apihref">
            <% };%>
            <% if(item.background){ %>
            <img src="<%= item.background %>">
            <% };%>
            <p title="<%- item.name %>"><span><%- item.name %></span></p>
            </a>
        </div>
    </div>
</li>
<% }); %>

<!-- <li class="angled-135 posRE">
    <div class="tabConsTop clearfix">
        <div class="iconforapi">
            <a href="api.html#detail/1" class="apihref">
                <img src="../../images/recommand_1.png">
                <p title="人脸识别"><span>人脸识别</span></p>
            </a>
        </div>
    </div>
</li>
<li class="angled-135 posRE">
    <div class="tabConsTop clearfix">
        <div class="iconforapi">
            <a href="api.html#detail/1" class="apihref">
                <img src="../../images/recommand_2.png">
                <p title="身份证二元素认证"><span>身份证二元素认证</span></p>
            </a>
        </div>
    </div>
</li>
<li class="angled-135 posRE">
    <div class="tabConsTop clearfix">
        <div class="iconforapi">
            <a href="api.html#detail/1" class="apihref">
                <img src="../../images/recommand_3.png">
                <p title="公积金查询"><span>公积金查询</span></p>
            </a>
        </div>
    </div>
</li> -->