
<% if(type == 'ser'){ %>
<ul>
    <% _.each(dataList,function(item,index){ %>
    <% if(index < 9 ){ %>
        <li>
            <p class="leftTit">
                <a  class="w2" attrid="<%= item.id %>" ><%= item.name %></a>
            </p>
            <div class="rightTips" style="display: none;">
                <% _.each(item.appList, function(json){ %>
                <a href="services.html#detail/<%= json.id %>" ><%= json.name %></a>
                <% }) %>
            </div>
        </li>
    <% }; %>
    <% if(index == '9'){ %>
    <li>
        <p class="leftTit moreThanTen">
            <a  href="#" >更多</a>
        </p>
    </li>
    <% }; %>

    <% }); %>
</ul>
<% }; %>

<% if(type == 'api'){ %>
<ul>
    <% _.each(dataList,function(item,index){ %>
    <% if(index < 9 ){ %>
    <li>
        <p class="leftTit">
            <a  class="w2" attrid="<%= item.categoryId %>" ><%= item.categoryName %></a>
        </p>
        <div class="rightTips" style="display: none;">
            <% _.each(item.apiServiceList, function(json){ %>
            <a href="api.html#detail/<%= json.apiServiceId %>" ><%= json.apiServiceName %></a>
            <% }) %>
        </div>
    </li>
    <% }; %>
    <% if(index == '9'){ %>
    <li>
        <p class="leftTit moreThanTen">
            <a  href="#" >更多</a>
        </p>
    </li>
    <% }; %>

    <% }); %>
</ul>
<% }; %>