
<% if(type == 'api'){ %>
<% _.each(dataList,function(item,index){ %>
<% if(index < 8 ){%>
<li>
    <div class="centers">
        <a  href="api.html#detail/<%= item.apiServiceId %>">
            <div class="datalist-img">
                <img src="<%= item.iconUrl %>">
            </div>
            <p><a href="api.html#detail/<%= item.apiServiceId %>" title="<%= item.apiServiceCName %>"><%= item.apiServiceCName %></a></p>
            <p class="buyType"><%= item.chargeTypeDesc || '免费' %></p>
        </a>
    </div>
    <div class="downs clearfix">
        <span class="lianjiehsu fl">
           <%= item.accessCnt %>
        </span>
        <span class="fl diaoyongshu">
           <%= item.viewCnt %>
        </span>
    </div>
</li>
<% }; %>
<% }); %>
<% }; %>

<% if(type == 'ser'){ %>
<% _.each(dataList,function(item,index){ %>
<% if(index < 8 ){%>
<li>
    <div class="centers">
        <a href="services.html#detail/<%= item.id %>">
            <div class="datalist-img">
                <img src="<%= item.imageUri %>">
            </div>
            <p><a href="services.html#detail/<%= item.id %>" title="<%= item.name %>"><%= item.name %></a></p>
            <p class="buyType"><%= item.chargeType %></p>
        </a>
    </div>
    <div class="downs clearfix">
        <span class="diaoyongshu fl">
            <%= item.viewCount %>
        </span>
    </div>
</li>
<% }; %>
<% }); %>
<% }; %>