
<% if(type == 'api'){ %>
<li>
    <img class="api-icon" src="../../images/api-title.png">
</li>
<% _.each(dataList,function(item,index){ %>
<% if(index < 9 ){%>
<li class="api-index-item">
    <div class="centers">
        <p><a href="api.html#detail/<%= item.apiServiceId %>" title="<%= item.apiServiceCName %>"><%= item.apiServiceCName %></a></p>
        <p class="buyType"><%= item.chargeTypeDesc || '免费' %></p>
        <div class="datalist-img">
            <a  href="api.html#detail/<%= item.apiServiceId %>">
                <img src="<%= item.iconUrl %>">
            </a>
        </div>
    </div>
    <div class="item-des">
        <%= item.description %>
    </div>
    <div class="downs clearfix">
        浏览：
        <span class="diaoyongshu">
           <%= item.viewCnt %>
        </span>
        应用数：
        <span class="lianjiehsu">
           <%= item.accessCnt %>
        </span>
    </div>
</li>
<% }; %>
<% }); %>
<% }; %>

<% if(type == 'ser'){ %>
<li>
    <img src="../../images/ser-title.png">
</li>
<% _.each(dataList,function(item,index){ %>
<% if(index < 9 ){%>
<li class="ser-index-item">
    <div class="centers">
        <p><a href="services.html#detail/<%= item.id %>" title="<%= item.name %>"><%= item.name %></a></p>
        <p class="buyType"><%= item.chargeType %></p>
        <div class="datalist-img">
            <a href="services.html#detail/<%= item.id %>">
                <img src="<%= item.imageUri %>">
            </a>
        </div>
    </div>
    <div class="item-des">
        <%= item.description %>
    </div>
    <div class="downs clearfix">
        浏览：
        <span class="lianjiehsu">
           <%= item.viewCount %>
        </span>
        应用数：
        <span class="diaoyongshu">
            <%= item.applyCount %>
        </span>
    </div>
</li>
<% }; %>
<% }); %>
<% }; %>