
<% if(type == 'api'){ %>
<li>
    <a href="#">
        <img class="api-icon" src="../../images/api-title.png">
    </a>
</li>
<% _.each(dataList,function(item,index){ %>
<% if(index < 9 ){%>
<li class="api-index-item">
    <div class="centers">
        <p><a href="api.html#detail/<%= item.apiServiceId %>" title="<%= item.apiServiceCName %>"><%= item.apiServiceCName %></a></p>
        <p class="buyType"><%= item.chargeTypeDesc || '免费' %></p>
        <div class="datalist-img">
            <a  href="api.html#detail/<%= item.apiServiceId %>">
                <img src="<%= item.iconUrl %>">
            </a>
        </div>
    </div>
    <div class="item-des">
        电费查询服务为个人家庭及政府企业用户提供用电查询、定制电
    </div>
    <div class="downs clearfix">
        浏览：
        <span class="diaoyongshu">
           <%= item.viewCnt %>
        </span>
        调用：
        <span class="lianjiehsu">
           <%= item.accessCnt %>
        </span>
    </div>
</li>
<% }; %>
<% }); %>
<% }; %>

<% if(type == 'ser'){ %>
<li>
    <a href="#">
        <img src="../../images/ser-title.png">
    </a>
</li>
<% _.each(dataList,function(item,index){ %>
<% if(index < 9 ){%>
<li class="ser-index-item">
    <div class="centers">
        <p><a href="services.html#detail/<%= item.id %>" title="<%= item.name %>"><%= item.name %></a></p>
        <p class="buyType"><%= item.chargeType %></p>
        <div class="datalist-img">
            <a href="services.html#detail/<%= item.id %>">
                <img src="<%= item.imageUri %>">
            </a>
        </div>
    </div>
    <div class="item-des">
        电费查询服务为个人家庭及政府企业用户提供用电查询、定制电
    </div>
    <div class="downs clearfix">
        浏览：
        <span class="lianjiehsu">
           <%= item.applyCount %>
        </span>
        调用：
        <span class="diaoyongshu">
            <%= item.viewCount %>
        </span>
    </div>
</li>
<% }; %>
<% }); %>
<% }; %>